[2013-06-14 17:13] ghost opened #1 "When Unsubscribing, Playlist Remains Populated with Episodes"
If you unsubscribe from a podcast, all it's episodes remain in the playlist.

![screenshot_2013-06-14-12-07-33](https://f.cloud.github.com/assets/1377970/655535/6778921e-d515-11e2-9e4f-1a9d02558e31.png)
![screenshot_2013-06-14-12-07-27](https://f.cloud.github.com/assets/1377970/655536/69847b68-d515-11e2-9522-6109999f6177.png)

[2013-06-14 17:14] MetaNova opened #2 ""Clear Playlist" Option Doesn't Work"
Selecting "Clear Playlist" appears to do nothing.

[2013-06-16 12:38] #1 closed, assigned to bottiger

[2013-06-16 15:24] bottiger opened #3 "Syncing podcasts with special characters"
Podcasts with special caracters such as æøå og ' is never synced.

[2015-02-23 16:48] #2 closed

[2015-02-23 16:49] #3 closed

[2015-03-10 11:46] a1291762 opened #4 "crash"
RAZR i running 4.1.2. SoundWaved 0.7 from f-droid.

03-10 21:41:43.413 E/AndroidRuntime(21001): FATAL EXCEPTION: main
03-10 21:41:43.413 E/AndroidRuntime(21001): java.lang.RuntimeException: Unable to start activity ComponentInfo{org.bottiger.podcast/org.bottiger.podcast.MainActivity}: java.lang.UnsupportedOperationException: Can't convert to dimension: type=0x12
03-10 21:41:43.413 E/AndroidRuntime

[2015-03-12 15:48] bottiger commented on #4
Thank you for taking the time to report this. I believe I have found and fixed the problem. The fix will be included in 0.74

[2015-03-12 15:49] #4 closed

[2015-03-12 23:20] smarquespt opened #6 "Crash when clicking subscription"
How to reproduce:

1. Search for "Outra Coisa" podcast from gpodder or Import from Opml
2. Subscribe
3. Click podcast image

Observed:

Sorry, soundwaves has crashed (or something like it)

Expected:

Podcast populated

I´m on Android 4.1 with f-droid build 0.7.2.

What more can I do to narrow this? I´ve already enabled send crash reports.

[2015-03-13 12:02] bottiger commented on #6
Thank you for letting me know.

Let me try to reproduce it first, I will give it a shot tonight. I may be easy to reproduce since I have had a fare share of issues with various versions of 4.1.

That said, if I am not able to reproduce it, the best solution would be to wait a little bit. The crash reporting is still not working in the f-droid version, but it will be fixed in the next version (0.74

[2015-03-13 14:15] smarquespt commented on #6
Sorry my bad. I´m on 4.3

[2015-03-13 14:57] bottiger commented on #6
Ok, good to know :)

[2015-03-17 11:21] smarquespt commented on #6
Fixed in 0.74

[2015-03-17 11:21] #6 closed

[2015-03-17 17:43] bottiger commented on #6
Good to hear :)

[2015-03-21 16:04] smarquespt opened #9 "Tranlsation strings meta issue (errors or missing)"
@bottiger

I´m opening this issue to report missing strings from source code.

Issues I´ve found so far:

Release 0.78.1

1. Drawer - Playlist tab -> "Playlist is empty"
2. Drawer - Subscription tab -> "Add new podcasts by using.... manually"
3. Sliding menu -> "Show listened"
4. Sliding menu -> "Auto start next"
5. 3 dots menu top right - Add podcast -> "Add podcast", "Please enter a URL", "Cance

[2015-03-22 18:25] bottiger commented on #9
Thank you very much for this. I truly appreciate that you take the time to report these issues.

[2015-03-23 17:17] bottiger commented on #9
I have [updated the master branch](https://github.com/bottiger/SoundWaves/commit/d8b8361d3ef641472ce592d79f5d78dae0d9125e) and moved all the strings above to the resource file.

I have also made sure that the resource files have been [updated on transifex](https://www.transifex.com/projects/p/soundwaves/).

I have also fixed a fair amount of bugs which I will push in a new release whenever you are

[2015-03-23 17:17] #9 closed

[2015-03-23 17:22] smarquespt commented on #9
@bottiger

Please wait a little for me to update strings.

[2015-03-23 17:25] bottiger commented on #9
Sure - no problem. Take your time

[2015-03-24 10:06] smarquespt commented on #9
@bottiger

Release 0.80

1. sliding menu -> "Playlist filters"
2. sliding menu -> "Player settings"
3. Import OPML -> "OPML not found. Please name... (SD card)"
4. Search field for gppoder -> "Search using gpodder.net"
5. Search field for gppoder - Search podcast - Choose one -> "Subscribing to:"

[2015-03-24 17:47] bottiger commented on #9
Thanks, they should be fixed as well now.

[2015-03-24 18:18] smarquespt commented on #9
@bottiger
How? no commit was made after 0.80 release.

[2015-03-24 18:36] bottiger commented on #9
Don't worry. I have just not pushed yet. I'll do it now

[2015-03-25 10:07] smarquespt commented on #9
@bottiger

Sorry. https://github.com/bottiger/SoundWaves/pull/12

[2015-03-25 23:38] smarquespt opened #13 "Add batch actions"
It would be nice if we could have batch actions for downloading podcasts.

In my case I usually only download podcasts once a week. If we had this option I could have an option to dowload, for instance:

1. Download last week
2. Download last month
3 Any other frequency you find useful.

[2015-03-25 23:41] smarquespt opened #14 "Add refresh all podcasts option"
Right now we can only refresh one subscription at a time.

Would you find to have an option to refresh all subscriptions at once?

It could be placed at the 3 dots icon from action bar.

What do you think?

[2015-03-25 23:45] smarquespt opened #15 "A little more space for sliding menu texts"
Can you try use Portuguese version and see that sliding menu has some strings cut off?

1. Playlist filters -> Filtros da lista de reprodução - I guess 1/2 mm should be enough.

2. Show listened -> Mostrar reproduzidos (2 words, reproduzidos is in 2 lines)

3. Auto start next -> Iniciar seguinte automaticamente (3 words, automaticamente is in 2 lines)

Is it possible to make some changes in these?

[2015-03-25 23:46] smarquespt opened #16 "Strange text in settings"
<string name="pref_download_on_update_description">Set up automatic update interval time</string>

This is not accurate because we don´t set any time for automatic download.

This could be " If enabled, podcasts will be download automatically" or anything else you find more user friendly.

[2015-03-25 23:54] smarquespt opened #17 "Podcast subscription title with strange letters"
For instance:

Mixórdia de temáticas (you can find it in gpodder) is MixÃ3rdia de temÃiticas

Pontapés na gramática (on gpodder also) is PontapÃs na gramÃitica

And so on..

All of these work fine in https://github.com/antennapod/AntennaPod

By the way, you may find useful some og antennapod code. Check it out.

[2015-03-25 23:57] smarquespt opened #18 "Coverity San for code analisys"
The coverity scan site is: https://scan.coverity.com/

Take a look. Maybe this could help you too. Libreoffice devs said that this analisys helped them to improve their code.

[2015-03-26 00:53] bottiger commented on #13
I am actually working on refactoring the download manager at the moment, since it has a lot of legacy. I expect to spend a few days on it.

This is not a feature I would ever use so please let me know if this implementation would work for you.

The Playlist already have a "Download all" menu which I would rename to "Bulk download", "Mass download" or something similar. I just fixed it in the maste

[2015-03-26 01:02] bottiger commented on #14
My personal vision is that you would never need it. I just wrote this in an e-mail to someone else

That said, I have no problem implementing the feature in the short and medium term. In the long term I would like to hide since I do not feel one should need it. But maybe I'm wrong?

Why do you want it? I do understand we all have different needs but I would really like to understand why the curren

[2015-03-26 01:05] bottiger commented on #15
I will look into this. But it's a notorious difficult problem to get it right for all languages, screen sizes etc.

[2015-03-26 01:14] bottiger commented on #16
Yeah, it's odd, wrong, stupid and old.

I also just fixed it :)

[2015-03-26 01:17] bottiger commented on #17
Good observation. I do not remember where the problem is but I will investigate it at some point in the near future.

[2015-03-26 01:19] bottiger commented on #18
This looks like a great! Really.

[2015-03-26 01:20] #18 closed

[2015-03-26 01:26] #16 closed

[2015-03-26 09:54] smarquespt commented on #15
I understand the difficulties. Different screen size, languages... Maybe I´ll have to live with it.

[2015-03-26 09:57] smarquespt commented on #13
Perfect

No. It´s fine

yes, that´s perfect

[2015-03-26 10:04] smarquespt commented on #14
My device doesn´t have mobile data enabled so I only download episodes on Wi-fi. But I don´t have Wi-fi always enabled. Usually I only have it enabled as needed. Usually to download podcasts, search on f-droid or play store. When I done all of these, I turn it of. So the time span of 15 min or 1hour, could (sometimes) not fit my need.

Imagine that I turn on wifi only for 10 min. Then podcasts wil

[2015-03-26 12:30] bottiger commented on #14
Again, I have no problem implementing it - people have all kinds of strange use cases :)

However, it sounds like your case could be mostly solved simply by forcing a refresh immediately when the device is connects to a wifi (and have not refreshed very recently).

[2015-03-26 12:49] smarquespt commented on #14
Yes, that will solve the issue.

[2015-03-27 15:03] bottiger commented on #14
It's implemented in the master branch and will be included in 0.84

[2015-03-27 15:03] #14 closed

[2015-03-28 01:17] bottiger commented on #17
I may be wrong, but I'm afraid this have to wait.

As far as I can see the reason the letters are displayed as garbage is that the webpage is encoded in UTF-8 but the feed claims it's encoded in iso-8895-1. Firefox also seems to have reading problems of the character.

That said, while (I think) bug is their feed other app's seem to read the feed just fine. If they can do it so can I :) However, i

[2015-03-28 11:21] bottiger commented on #13
I have made in initial implementation. It works if you just have a playlist where the episodes are sorted by date. If you start sorting in reverse order or reorganizing them manually there are some undefined behavior, but I have to think about how to handle that.

In the meantime I'm getting ready for a new release whenever you have time to do the translation of the new strings.

[2015-03-29 11:43] smarquespt commented on #13
@bottiger

Updated on transifex. Can you fetch them there?

And this string:

"Download all episodes in the playlist form the" shouldn´t be:

"... for the..."

[2015-03-29 11:44] smarquespt commented on #17
@bottiger

No problem.

[2015-03-29 11:45] smarquespt commented on #15
@bottiger

I´ve changed PT translation for 3.

I´ve made it like "Continuosly playing", as there is in Settings. It does same thing right?

[2015-03-29 12:21] bottiger commented on #13
You are correct, it should be "for the".

[2015-03-29 13:12] bottiger commented on #15
Yes, it does the same thing. The Navigation drawer is just a quick setting. However, 0.84 does include a lot of fixes regarding turning it on/off

[2015-03-29 21:32] smarquespt commented on #15
I will try it. But tell me, is it ok to add a newline in my translation if your fixes doesn´t work?

[2015-03-29 22:02] bottiger commented on #15
Sure.

[2015-03-30 18:00] krt16s opened #22 "Tag "104" is at versioncode 103"
Is tag "104" meant to be a release? Because the tag does not have a matching vercode. If it was a real release, i can force the vercode to 104 for fdroid builds.

[2015-03-30 18:52] bottiger commented on #22
Thank you for this.

Yes, I mess up with 104. I would be very nice if you could force f-droid to build tag 104. I will try to automate releases in the future since I tend to forget something - one way or the other.

[2015-03-30 22:09] krt16s commented on #22
I am too late for forcing 104 VC, but it will build tag 104 as it is (with vc103).  The next version should fix this anyway.

[2015-03-30 22:09] #22 closed

[2015-03-31 12:36] #13 closed

[2015-04-01 08:58] smarquespt opened #23 "Import not working"
Import/export option isn´t working on 0.86 release.

[2015-04-01 08:59] smarquespt opened #24 "FC when subcribing from gPodder"
1. Search "Outra coisa" on gPodder.
2. Subscribe

~~Result -> Crash~~

It doesn´t crash but since there is more than 1 similar podcast, even tough it says it´s subscribed it is not

[2015-04-01 09:01] smarquespt opened #25 "Fetch transifex translations before release"
@bottiger

Since transifex is working fine, please fetch translations before each release. As I´m working on tx, there´s no need to create pull requests every time.

[2015-04-01 17:00] bottiger commented on #23
Which version of android are you running? And does your device have an SD card or not?

(On an unrelated note, I won't be able to do any programming this week)

[2015-04-01 17:03] bottiger opened #26 "database or disk is full"
It looks like the app crashes if the device is running out of storage

[2015-04-01 17:05] bottiger opened #27 "Unable to start receiver if player service is null"
STACK_TRACE=java.lang.RuntimeException: Unable to start receiver org.bottiger.podcast.receiver.HeadsetReceiver: java.lang.IllegalStateException: PlayerService is null
        at android.app.ActivityThread.handleReceiver(ActivityThread.java:2511)
        at android.app.ActivityThread.access$1500(ActivityThread.java:153)
        at android.app.ActivityThread$H.handleMessage(ActivityThread.java:1323)

[2015-04-01 17:06] bottiger opened #28 "Crash in initialHeaderAdapter"
STACK_TRACE=java.lang.NullPointerException
at org.bottiger.podcast.adapters.decoration.InitialHeaderAdapter.onBindViewHolder(InitialHeaderAdapter.java:45)
at org.bottiger.podcast.adapters.decoration.InitialHeaderAdapter.onBindViewHolder(InitialHeaderAdapter.java:20)
at com.eowise.recyclerview.stickyheaders.HeaderStore.getHeaderViewByItem(HeaderStore.java:45)

[2015-04-01 18:54] bottiger opened #29 "Missing sqlite columns"
SQLiteException: no such column: primary_color

[2015-04-01 21:17] smarquespt commented on #23
I´m on 4.3

Yes

No problem. Take your time.

[2015-04-02 05:18] bottiger opened #30 "Feeditem.gettitle throws NullPointerException"
org.bottiger.podcast.provider.FeedItem.getTitle()' on a null object reference
at org.bottiger.podcast.adapters.PlaylistAdapter.onBindViewHolder

[2015-04-03 11:16] willemw12 opened #31 "Support for landscape mode"
Please add support for landscape mode. All the activity screens are now always in portrait mode, except for the Settings screen.

[2015-04-03 13:12] bottiger commented on #31
I plan to support landscape mode at some point, the big question is how to prioritize it compared to all my other bugs and missing features.

Could you please elaborate on why you want it? I personally never really needed it on my phone. Are you using a tablet?

[2015-04-03 13:46] bottiger commented on #23
I'm reopening this issue. I think there are some issues I need to investigate. I'm not sure if android can write to external storage while connected to a computer.

[2015-04-03 16:47] willemw12 commented on #31
Yes, I am using a 7" tablet (Nexus 7). The orientation of a tablet is usually in landscape. When I put the tablet on a stand, for example to listen to a podcast, it is in landscape mode. It is not practical to use the app, unless you don't mind picking the tablet up every time you use the app.

Simply allowing the screens to rotate is what would solve the issue. No special tablet/landscape layouts

[2015-04-03 17:41] bottiger commented on #31
I'm glad you would be satisfied with simply rotating the current layout.

I have a nexus 7 myself and honestly I think the current user experience is pretty poor. However, phones are currently the primary focus so I do think the big tablet layout is at least a few months away.

Just rotating the layout is also not as easy as it sounds. It could actually cause some new unintended bugs.

My suggesti

[2015-04-04 09:13] willemw12 commented on #31
Good suggestion.

[2015-04-04 09:22] willemw12 opened #32 "Player's current and total times are cut off at the bottom"
The player's "current play position" and "total" times above the "play position" slider are cut off at the bottom. On a Nexus 7 2013.

[2015-04-04 09:28] willemw12 opened #33 "Tapping the app's notification does not display the app"
When you press the app's notification area next to the play controls, nothing happens. Expected to see the app being raised to the foreground.

[2015-04-04 09:32] willemw12 opened #34 "Option for subscription list view"
Minor feature request:
Have an option to display the subscriptions as a list (single column, in alphabetical order).

[2015-04-04 09:40] willemw12 opened #35 "Cannot close the app"
There is no way to exit the app. Expected to be able to close the app according to the latest UI guidelines.

Actually, it is related to the app's notification:
There is no way to close the app's notification, either by a "close" button on the notification area or by exiting the app.

[2015-04-04 19:22] bottiger commented on #35
I am not able to look into the guidelines right now. Could you please elaborate on how you expected to be able to close the app?

[2015-04-04 19:23] bottiger commented on #34
Alphabetic sorting is a nobrainer, I'll be sure to include that in the next release.

Subscriptions as a list is also on the near/medium plan but requires some thinking. Let me ask you the usual question, why do you want it? Is it because you just like things in a list? Or do you want it to be more compact? Or something completely different?

It would be easy to just create a list, display a squar

[2015-04-04 19:24] bottiger commented on #33
Yeah, that's right. I'll remember to good it in 0.88

[2015-04-04 19:24] bottiger commented on #32
Good to know. I'll see if I can find an easy solution for this to include asap. However, the big tablet refactoring will have to wait a bit.

[2015-04-04 19:42] willemw12 commented on #35
There are general UI guidelines. However, I am not sure there are specific guidelines on exiting an app.

Have seen several ways of exiting an app: single tap on the backward button, double tap on the backward button, exit option in the main menu on the left-hand side of the screen.

Without knowing more, at the moment, I would choose for: single tap on the backward button.

[2015-04-04 19:51] willemw12 commented on #34
Mainly, the feed title should be prominent. It is (for me) easier to scan through a list of text than a list/grid of icons. I may not (instantly) recognize the icon. Also, some feeds don't have an icon (or more precisely, I have seen a podcast app which fails to display the icon, which could be either the fault of the app or the podcast feed).

[2015-04-04 19:56] willemw12 commented on #32
Haven't checked the source code, but do you scale according to the display density (http://developer.android.com/guide/practices/screens_support.html)?

[2015-04-06 06:44] bottiger opened #36 "Album art doesn't update properly"
When using continuously playback the album art on the lock screen doesn't update when the next track begins

[2015-04-06 12:33] bottiger commented on #35
@willemw12

I am confused by this. I have no problems closing the application by any of these methods, maybe I misunderstand something.

Can you please tell me which device you use and which steps I need to do to reproduce the problem.

[2015-04-06 13:59] willemw12 commented on #35
I cannot reproduce the issue or I was mistaken. Please close the issue.

Tapping the backward button closes the app. Swiping the notification closes the notification.

[2015-04-06 20:45] bottiger commented on #35
Then it sounds like a case of the application not responding for one reason or another.

[2015-04-06 20:46] #35 closed

[2015-04-09 20:12] bottiger commented on #31
Pushed to master. Will be in 0.86

[2015-04-09 20:12] #31 closed

[2015-04-09 20:27] bottiger commented on #33
Fixed in master branch.

[2015-04-09 20:27] #33 closed

[2015-04-09 20:28] bottiger commented on #25
I have create a small build script which should ensure that I from now on always ship with the latest translation from transifex

[2015-04-09 20:28] #25 closed

[2015-04-09 20:33] bottiger commented on #30
Fixed in master branch

[2015-04-09 20:33] #30 closed

[2015-04-09 21:06] bottiger commented on #27
Fixed in master branch

[2015-04-09 21:06] #27 closed

[2015-04-10 06:23] bottiger commented on #24
I didn't quite understand the problem. I know that the app crashes sometimes - I intend to fix this.

However, what is the other issue you are talking about?

[2015-04-10 06:27] bottiger commented on #15
@smarquespt I'm thinking of how to solve this issue. Can you please help me with a screenshot or two of the problem?

[2015-04-10 23:57] smarquespt commented on #24
I´ve tested again and I have no such issue. Sorry.

[2015-04-10 23:57] #24 closed

[2015-04-11 15:59] bottiger commented on #36
Fixed in master branch. Will be included in 0.88

[2015-04-11 15:59] #36 closed

[2015-04-11 16:00] bottiger commented on #29
Fixed in master branch. Will be included in 0.88

[2015-04-11 16:00] #29 closed

[2015-04-11 16:03] bottiger commented on #28
Fixed in master branch. Will be included in 0.88

[2015-04-11 16:03] #28 closed

[2015-04-12 17:23] brinchj opened #37 "Chromecast: adjust volume"
Would be great if the app could adjust the sound volume when playing on chromecast.

[2015-04-12 17:25] brinchj opened #38 "Chromecast: Selecting the next episode pauses the current"
Select "play" on a new episode in the "subscriptions" tab while playing an episode on chromecast pauses the current episode instead of starting the new one.

Clicking play another time resumes the current episode.

[2015-04-12 20:33] smarquespt commented on #15
@bottiger

If I only knew hot to get one...

But I´ll try to explain:

"Show listened" is " Mostrar reproduzidos. This should be:

1. As is -> but text is too long
2. Mostrar
    reproduzidos

But at the moment, in my device is

Mostrar
reproduzi
dos

"Auto start next" is "Reprodução contínua". This should be~

1. Same as 1. above
2. Reprodução
    contínua

But it is:

Reproduç
ão
contínua

[2015-04-12 20:38] smarquespt opened #39 "Sliding menu option "Show" retains cancelled subscription"
How to reproduce:

Search on gpodder and add pod1, pod2, pod3

Open sliding menu and option "Show:" shows all episodes, pod1, pod2, pod3

Cancel subscription pod1, pod2

Observed behaviour:

Option "Show" shows shows all episodes, pod1, pod2, pod3

Expected:

"Show:" only should show podcasts subscribed.

[2015-04-12 22:27] bottiger commented on #34
@willemw12 I have made a (very) crude implementation of a list in the upcoming 0.88 release. I will continuously give it some love and make it nice and pretty but I would really like some feedback on which direction you think it should go.

Please don't be afraid to be harsh :)

[2015-04-13 06:57] bottiger commented on #39
True. That filter needs some work. As far as I remember it also doesn't persist your selection.
I will make sure this is fixed for 0.90

[2015-04-13 23:41] bottiger opened #40 "Inconsistency detected. Invalid view holder adapter"
java.lang.IndexOutOfBoundsException: Inconsistency detected. Invalid view holder adapter positionViewHolder{4344d348 position=1 id=10, oldPos=-1, pLpos:-1 scrap tmpDetached no parent}
at android.support.v7.widget.RecyclerView$Recycler.validateViewHolderForOffsetPosition(RecyclerView.java:3229)
at android.support.v7.widget.RecyclerView$Recycler.getViewForPosition(RecyclerView.java:3359)
at android.

[2015-04-13 23:42] bottiger opened #41 "Remove Picasso as dependency"

[2015-04-14 10:53] bottiger commented on #15
Can't you just press "volume down + power button" for 2 seconds on your phone? That will take a screenshot on most/all Android phones.

In any case, it currently playing with adding a little more space, but I don't know if it will make it for 0.90

[2015-04-14 11:02] smarquespt commented on #15
I´ve alredy attempted that. But it didn´t worked. About not making to 0.9 I have no problem with that. I´m still trying to know how the app works. Right now I have it on y device but it´s not my primary app. Sorry.

[2015-04-14 11:04] smarquespt commented on #25
Looks like You forget it for 0.88. ;-)

[2015-04-14 11:12] bottiger commented on #25
Sort of, but not really :)
Now I actually don't remember the specific problem but tansifex had lost connection to github (maybe because of the ddos?) and hadn't refreshed for days. I wasn't sure if everything was synced up and if I was going to delete new strings by pulling and old copy from transfex. I also didn't want to push 0.88 any longer due to some bad crashes.

0.90 will bring an updated t

[2015-04-14 11:15] smarquespt commented on #25
Loved it

[2015-04-14 11:20] bottiger commented on #15
No need to be sorry. I know it's rocky and I also fall back to other apps whenever I'm on the road and having problems for one reason or another.

[2015-04-15 23:44] smarquespt opened #42 "[Question] - Podcasts stored ouside soundwaves folder"
Usually apps store its data in /internal/Android/Data/xxx but soundwaves stores its data in /internal/soundwaves and podcasts are downloaded to /internal/podcasts.

This should be intentional but whats the point of having /podcasts outside /soundwaves?

And why not follow what others do and store booth in /internal/Android/Data?

[2015-04-16 00:11] bottiger commented on #42
The reason most of the data is on the "soundwaves" folder is just legacy, I do not remember why - and it should be fixed.

The reason for storing the podcasts in /internal/podcasts is to support Sonos. Sonos will only recognize a media files as a podcast if it's in the folder "podcasts".

I do not like it, but I also do not have a good solution for it.

[2015-04-16 15:18] bottiger commented on #40
Fixed in master branch

[2015-04-16 15:18] #40 closed

[2015-04-16 15:31] bottiger commented on #23
I hope the problem is fixed now, but I am not completely sure

[2015-04-16 15:31] #23 closed

[2015-04-17 21:49] frazzmark opened #43 "Black text in black/dark background"
Right after i installed it and started playing something I noticed this issue: I can't read a thing in the notification! The text is black, my background black too.

[2015-04-17 23:23] bottiger commented on #43
@frazzmark  Really, I had no idea that was possible. Can you please attach a screenshot?

[2015-04-18 10:03] frazzmark commented on #43
![screenshot_2015-04-18-12-00-14](https://cloud.githubusercontent.com/assets/7524830/7214972/d1fd7b3a-e5c2-11e4-9de0-0e5808f0ded1.png)
here, i reinstalled everything and it's happening again. using galaxy s3 i9300, kitkat 4.4 and ART

[2015-04-18 11:28] bottiger commented on #43
Yeah, that's really bad :) I am just about to release a new version. If it's a quickfix I'll put it in, otherwise it will be another week or two.

Thanks

[2015-04-19 11:50] bottiger commented on #43
@frazzmark  I'm sorry, but it didn't make the cut for 0.90, but it will definitively be in 0.92

[2015-04-20 14:57] bottiger commented on #15
I finally took the time to look at this. The navigation drawer is now a little bit larger, the margins are a little bit smaller and I think everything fits. It will be there in the next release

Please reopen this issue if (when) you find other issues

[2015-04-20 14:57] #15 closed

[2015-04-20 15:58] bottiger commented on #42
I have made a change which uses the /Android/Data/app.package for application data.
Reading the Android documentation I also learned that there is a [special directory for Podcasts](http://developer.android.com/reference/android/os/Environment.html#DIRECTORY_PODCASTS) which points to /internal/Podcasts, so i makes sense to store the downloaded files there.

However, this patch is rather huge, and

[2015-04-20 15:58] #42 closed

[2015-04-20 21:52] bottiger commented on #43
I have fixed it in the current master. Will in included in the next release

[2015-04-20 21:52] #43 closed

[2015-04-20 23:47] bottiger commented on #32
@willemw12  Can you please provide a screenshot? I can not reproduce this on my Nexus 7

[2015-04-21 08:22] willemw12 commented on #32
Nexus 7, 2013, stock Android.

![screenshot](https://cloud.githubusercontent.com/assets/1303481/7248065/4276cc3c-e810-11e4-8283-b9d542497b04.png)

[2015-04-21 08:25] willemw12 commented on #31
Works well. No problems.

[2015-04-21 08:35] willemw12 commented on #35
This may have been the issue I was experiencing:

Issue: the player continues playing even when exiting the app (through the Backward button from the main screen). Only after swiping the app from the app history list, does the player stop.

Expected: when exiting the app from either 1) the app itself or 2) from the notification (that would a new feature), the player should stop playing.

[2015-04-21 08:38] willemw12 opened #44 "There are two Settings menus"
There are two Settings menus: one in the left-hand side menu, one in the right-hand side overflow menu. There should only be one menu.

[2015-04-21 08:47] willemw12 opened #45 "No episode information in the player"
It is not clear which episode is currently being played.
The player (above the playlist) does not display any episode information (title, description, ...).

[2015-04-21 08:50] bottiger commented on #45
Yeah, it's a long outstanding issue. The main reason for it still to be there is that I have not quit made up my mind of how it should look.

However, I guess I should make a quick fix for it.

[2015-04-21 08:53] bottiger commented on #32
@willemw12  Thank you for this.

However, I find it very odd since my Nexus 7 (also 2013, also stock) do no have this problem.
I will try to rewrite the code in a more robust way when looking at the player for the next release

[2015-04-21 08:57] willemw12 opened #46 "Cannot disable notification"
The notification (player) is always there when playing, even when notifications are disabled in the settings. Restarting the app does not help.

[2015-04-21 13:17] bottiger commented on #44
The one in the navigation drawer (swipe in from the left) was initially added just to test the look and feel of having a few menu items there. However, it is also quite common for apps to place the setting menu there.

The one in the right side (the ... button)  was there before I had the navigation drawer and have not been removed.

The reson I still have two is that I have not made up my mind ye

[2015-04-21 13:19] bottiger commented on #31
Good to hear :) This is valuable feedback. However, I still have some unsafe code which will need to be cleaned up before I make it more accessible

[2015-04-21 13:39] willemw12 commented on #44
I am all for following the latest guidelines and, in most cases, not mix older with newer guidelines.

If the app layout includes a hamburger menu (navigation drawer on the left), then the action bar's overflow menu on the right should only contain immediate/frequent actions, not infrequent actions such as Settings.
If there is no hamburger menu, then Settings goes in the overflow menu.

http://de

[2015-04-21 14:56] bottiger commented on #44
Fixed in the master branch

[2015-04-21 14:56] #44 closed

[2015-04-21 15:20] bottiger commented on #46
It looks like I'm a bit out of the loop. In the old days (I think) it was possible to have a Service running (playing) media without a notification. However, as far as I can see this has not been possible since 4.3.

It's probably for the best, but if you do not like the notification I'm afraid you are out of luck :(
I think I'll remove the settings instead, unless you have a solution

[2015-04-21 15:32] willemw12 commented on #46
I always have notifications on. Removing the settings is OK, I think, but unusual. Most apps do have this option. Maybe you need to call newer APIs for a proper fix?

In "App notifications" in the Android settings you can disable notifications of a (spammy) app.

[2015-04-21 15:50] bottiger commented on #46
Not this type of notification.

In order for the podcasts to play when a user navigates away from the app is to have a service running - playing the episode. However, Android will kill this service after some time. On my old phone it took around 20 minutes - and the playback will just stop.

You can prevent this by running the service in the foreground. This is specifically designed towards playin

[2015-04-21 16:08] willemw12 commented on #46
Yes you can disable it. I just tried it. And it makes sense you can do this:

Reason for Google to do this is to find, for example, spammy notifications or always running apps. And to easily force disabling these notifications or lowering the notification priority from the Android settings.

My point was: it's OK to use this (forceful) method for SoundWaves, however, usually apps have an option in

[2015-04-21 19:59] bottiger commented on #46
Let it be clear - if I can disable it I will have that option available (somewhere). However, I am very confused about this. I can not get rid of the Notification on my devices, and [the documentation is very clear about it:](http://developer.android.com/guide/components/services.html#Foreground)

How did you do it? Did I miss something?

[2015-04-22 11:43] willemw12 commented on #46
Long press on the notification, then press the "i" on the right. Or from the Android (system) menu: Sound & notification --> App notifications. Here you can block or raise the priority of the app's notifications. It's a new feature, since Android 5, I believe. I am running 5.0.2.

What I think is not correct is that you can swipe away the notification. All other player or server related notificati

[2015-04-22 14:27] bottiger commented on #46
@willemw12
I am beginning to understand now. When I pause the PlayerService is sent to the background.
There may also be situations where I can not attach the server to the foreground. I have not looked into this, but maybe only one service can be in the foreground at once.

In any case: The notification can be removed when the service is not running in the foreground and it may be the case that t

[2015-04-25 11:30] bottiger opened #47 "Playlist (filters) are not persisted"
The playlist have various persistence problems.

[2015-04-25 11:30] bottiger opened #48 ""Play next" doesn't update album art"

[2015-04-26 13:47] bottiger commented on #46
Fixed in master branch

[2015-04-26 13:47] #46 closed

[2015-04-26 13:49] bottiger commented on #45
Fixed in master branch

[2015-04-26 13:49] #45 closed

[2015-04-27 22:13] smarquespt commented on #17
This also happens in podcasts episode title

[2015-04-27 22:15] smarquespt commented on #15
@bottiger

Indeed it´s fixed in 0.92

[2015-04-29 08:42] smarquespt opened #49 "Clear playlist does nothing"
The "Clear Playlist" option in sliding menu does nothing. Playlist remains as is. Release 0.92 from f-droid

[2015-04-29 09:24] bottiger commented on #49
Good point. "Clear playlist" is actually a bogus title since that's not what it does. I guess it should be caleld "Reset playlist" since it removes all "manually queued" items and reverts to showing the most recents episodes.

However, I am currently working on fixing the playlist (both bugs, workflow etc), so any kind of input would be appreciated.

[2015-04-29 11:11] smarquespt commented on #49
Ideas:

1 - Some kind of sort options (by podcast, alfabetically...)
2 - Don´t automatically add episodes to the playlist. Leave them in subscritions and only add them to playlist after download.
3 - Real clear playlist option (remove all episodes)
4- Remove (or not) bulk download from playlist and add it to podcast tab. This way we can bulk download for each podcast subscription. This way is a pe

[2015-04-29 11:12] smarquespt commented on #39
Milestone 1.0?

[2015-04-29 11:53] bottiger commented on #39
@smarquespt No, it's more or less now :) I've been pushing everything playlist related in front of me for a while now. But I've finally started working on it. It will be in 0.94 or 0.96 - depending on where I start

[2015-04-29 14:29] bottiger commented on #49
@smarquespt

There are two primary aspect to the playlist refactoring I will do now.

1) Make the current filters more powerful
2) Make it easier.

My personal workflow works by glancing over the current list of recent podcast and just hit play on the one I want to hear - but I understand I'm the odd one here :) Many (all other?) people prefer a traditional playlist.

To address my point "Make the

[2015-05-06 05:23] pdawg363 opened #50 "Discover search bar - Text white or not shown"
When searching for podcasts input text remains white / is not shown.

[2015-05-06 07:46] bottiger commented on #50
@pdawg363  Interesting, which phone are you using?

[2015-05-10 11:04] bottiger commented on #47
Fixed in master branch

[2015-05-10 11:04] #47 closed

[2015-05-11 13:42] bottiger commented on #39
Fixed in the master branch

[2015-05-11 13:42] #39 closed

[2015-05-13 10:50] bottiger opened #51 "bindExandedPlayer NullPointerException"
java.lang.NullPointerException
at org.bottiger.podcast.adapters.PlaylistAdapter.bindExandedPlayer(PlaylistAdapter.java:260)
at org.bottiger.podcast.adapters.PlaylistAdapter.onBindViewHolder(PlaylistAdapter.java:174)
at org.bottiger.podcast.adapters.PlaylistAdapter.onBindViewHolder(PlaylistAdapter.java:47)
at android.support.v7.widget.RecyclerView$Adapter.bindViewHolder(RecyclerView.java:4805)
at a

[2015-05-13 12:50] smarquespt opened #52 "Crash searching on gpodder"
How to reproduce:

Search in gPodder -> Enter text

Result -> Immediate crash

Already sent email report from so.boston.android at gmail dot com. Please check it

[2015-05-13 12:51] smarquespt opened #53 "Playlist mode not persistent"
The playlist mode introduced in 0.94 is not persistent. Always falback to Place episodes manually

[2015-05-13 12:52] smarquespt opened #54 "Reduce font size in Subscription tab"
Due to different languages, Portuguese text is cutted in Subscription tab. And arrows are also very big.

The cutted text is "Playlist" and "Discover". All remaining texts are fine.

Is it possible to reduce font size in it?

[2015-05-13 12:55] smarquespt opened #55 "iTunes integration not working"
For me, Discover in iTunes is not working. Anyone can confirm it?

[2015-05-13 14:03] bottiger commented on #52
This is fixed in 0.94.2 which should be out on F-droid by now

[2015-05-13 14:03] #52 closed

[2015-05-13 14:10] bottiger commented on #53
Yeah, it's still buggy. Better in 0.94.2, but still buggy

[2015-05-13 14:24] bottiger commented on #54
Sure - I try to put it in a quick 94.4 service release.

[2015-05-13 14:24] bottiger commented on #55
It may (or may not) be the same issue as with gpodder. Are you trying with 94.2 ?

[2015-05-13 14:51] smarquespt commented on #55
No. I´m on 0.94. Later I will try with 0.94.2 if available in fdroid.

2015-05-13 15:24 GMT+01:00 Arvid Böttiger <notifications@github.com>:

--
Sérgio Marques

[2015-05-13 14:52] bottiger commented on #55
@smarquespt Cool, thank you very much. 94.2 should be available now

[2015-05-13 15:20] bottiger commented on #54
Fixed in master branch. Please re-open if you find other problems :)

[2015-05-13 15:20] #54 closed

[2015-05-13 15:27] bottiger commented on #53
Fixed in master branch - i hope. There could be more edge cases

[2015-05-13 15:27] #53 closed

[2015-05-13 15:29] bottiger commented on #32
@willemw12 has it been fixed in 0.94.2?

[2015-05-13 15:39] willemw12 commented on #32
Yes, it has been fixed.

    Android Settings --> Display --> Font size : Large

may have something to do with it. I have seen the same problem in some of the other media player apps (don't remember which ones).

[2015-05-13 15:44] bottiger commented on #32
God point about the font size. Never thought of that.

But I'm glad it's fixed.

[2015-05-13 15:44] #32 closed

[2015-05-13 21:53] smarquespt commented on #55
Working in 0.94.2

[2015-05-13 21:53] #55 closed

[2015-05-13 22:11] smarquespt commented on #53
Do you think we need a tab for this one? Why mot put it in settings? It could be shown on first run as a dialog and after in settings.

[2015-05-14 09:50] bottiger commented on #53
I agree it should be in the settings as well. Basically everything in the navigation drawer should also be accessible elsewhere.

However, the "playlist mode" (which needs a better name) should already be shown in the playlist tab until the playlist has been populated the first time.

[2015-05-14 12:08] smarquespt commented on #53
2015-05-14 10:50 GMT+01:00 Arvid Böttiger <notifications@github.com>:

Maybe "Playlist Filling"

--
Sérgio Marques

[2015-05-14 12:13] smarquespt commented on #34
@bottiger

For this one I suggest to use podcast image on left side of the title

[2015-05-14 15:49] willemw12 commented on #34
Yes, the list view definitely needs an image column on the left. See http://developer.android.com/design/style/metrics-grids.html for info about icon size and row height, etc.

The large font (on the Subscriptions and Discover tabs) is OK or can be a little bit smaller as it is now on the Playlist tab.

[2015-05-14 20:40] bottiger commented on #51
Fixed in master

[2015-05-14 20:40] #51 closed

[2015-05-14 21:02] bottiger commented on #34
@willemw12 RIght. I'll make sure to update the layout for 0.96

[2015-05-15 09:58] willemw12 commented on #34
The new subscription list view reverts to the old single column icon view. This only seems to happen when the screen rotation option is enabled.

[2015-05-16 14:35] irregularisnotrandom opened #56 "it does not show up in the share app list"
Hi
This app does not show up in the list for url sharing from browser, so one has to put urls manually.

Thanks

[2015-05-18 06:27] bottiger commented on #56
I'll try to get this fixed for the next release.

[2015-05-18 06:31] bottiger commented on #34
@willemw12

I am playing around with a list view which looks somewhat like this. Any kind of feedback is more than welcome. Especially because I do not use it myself, so it's hard for me to give it the love it needs.

![screenshot_2015-05-18-08-26-10](https://cloud.githubusercontent.com/assets/489129/7675372/1aa5321a-fd38-11e4-91fb-376d6de0139a.png)

[2015-05-18 07:42] willemw12 commented on #34
Looks great. Maybe add the published date of the latest episode (18-May, May-18) at the end of the 'new episodes' line?

(Do you like the rounded images? I've seen rounded logo/icons and rounded single characters.)

Not related to this issue:
In the single subscription list and the playlist, maybe add the published date (18-May, May-18) and the size (20 MB) to each episode?

[2015-05-18 09:10] bottiger commented on #34
@willemw12

Sure, I might actually replace it "5 new episodes" with the date for the latest episode for now since I do not have the logic in place for outputting the number of new episodes.

I like the rounded images very much.

All that information will be there. However, I really need to finalize on a layout. At the moment I am spending all of my time on rewriting the playlist layout again and a

[2015-05-19 19:54] irregularisnotrandom commented on #56
Thanks

[2015-05-19 19:54] #56 closed

[2015-05-20 20:15] bottiger commented on #56
@irregularisnotrandom You closed it fast :) I'm about to push 0.96 so please let me know if it does what you want. If it doesn't please let me know where it fails.

[2015-05-24 23:10] bottiger commented on #41
Fixed in 0.96.2

[2015-05-24 23:10] #41 closed

[2015-05-29 08:17] Cadair opened #57 "Support External Players for Video Playback"
I really like the look of soundwaves but I watch a lot of video podcasts, it would be great if you could configure an external player for video files.

[2015-05-29 10:30] bottiger commented on #57
I was thinking a lot about video podcasts when I started the project. I do watch them, but I know other people do. I think SoundWaves should continue to focus on the audio podcasts until that part is nailed, done and bug free.

However, just opening a video on an external player seems like a reasonable compromise for now. I will try to implement it in the near fututre.

[2015-05-29 10:36] Cadair commented on #57
@bottiger I agree that focus is always good. I would prefer opening in an external player anyway, as video gets quite complex and you might as well just give it to someone else who has put a lot of work into it, like VLC.

Thanks for a cool app.

[2015-08-11 10:27] jjhesk commented on #40
@bottiger how did you fix this issue?? I had the [same issue](https://github.com/cymcsg/UltimateRecyclerView/issues/135)

[2015-08-12 07:59] bottiger commented on #40
@jjhesk I'm sorry. I do not remember

[2015-09-15 02:27] snelltheta opened #58 "Cannot read or select podcast - obscured by system buttons"
Scroll to the bottom of the list, and what do I get? I cannot scroll further. See podcast obscured by the buttons at the bottom?

![tmp_5339-screenshot_2015-09-14-19-19-401232023010](https://cloud.githubusercontent.com/assets/12014328/9866352/4bccf8aa-5b16-11e5-8d42-7d20a2eb3b17.png)

[2015-09-15 02:31] snelltheta opened #59 "Dark theme enabled; doesn't work"
Pic says it all: white text and no dark background. Generally unreadable.

![tmp_5339-screenshot_2015-09-14-19-28-47-1553387998](https://cloud.githubusercontent.com/assets/12014328/9866422/fddcb102-5b16-11e5-80f0-2759b5b861d6.png)

[2015-09-15 02:34] snelltheta opened #60 "Plus button does nothing in discovery mode"
Yes, it makes a cool transition to an x but doesn't do anything else.

![tmp_5339-screenshot_2015-09-14-19-32-181995746261](https://cloud.githubusercontent.com/assets/12014328/9866473/937bd9d6-5b17-11e5-960a-1c8146dba5e7.png)

[2015-09-15 02:39] snelltheta opened #61 "Pressing play from lockscreen crashes app"
After play failure, the widget remains in place until screen is unlocked where crash notice is shown.

BTW, even with all of the bugs I submitted, I love this app. Keep it up!

[2015-09-15 02:45] snelltheta opened #62 "The full screen button crahes app"
It's the button to the right of the clock with z button. Instant crash.

![tmp_5339-screenshot_2015-09-14-19-40-44424168652](https://cloud.githubusercontent.com/assets/12014328/9866615/23c3ce58-5b19-11e5-913d-6787197e31b3.png)

[2015-09-15 06:55] bottiger commented on #62
Thank you very much. This has been fixed and will be pushed out later today.

[2015-09-15 06:55] #62 closed

[2015-09-15 06:56] bottiger commented on #61
I'm glad to hear you like it. I will try to get this fixed today as well.

[2015-09-15 06:57] bottiger commented on #59
Thank you for this. I know it's broken but so far it has only been on my "medium term" todo list. Is it important to you?

[2015-09-15 06:59] bottiger commented on #58
I'll try to get it fixed. As far as I remember there was something tricky about it, but it was a long time ago since I looked at it and everything has matured *a lot* since then.

[2015-09-15 07:00] bottiger commented on #60
@snelltheta Yeah - that part of the code is in for a big rewrite soon. But it will probably take a week or two before I get to it since it do not regard it as critical

[2015-09-15 14:58] bottiger commented on #58
Fixed in upcoming version 0.106

[2015-09-15 14:58] #58 closed

[2015-09-15 16:07] snelltheta commented on #59
Personally, I prefer a dark mode, but I wouldn't really regard this as critical.

[2015-09-16 06:17] bottiger commented on #57
@cadair this was surprisingly tricky to get right, but I finally have a first implementation in the upcoming 0.106 version, which should be out later today

Cheers

[2015-09-16 06:20] #57 closed

[2015-09-16 06:52] bottiger commented on #61
I hope it's fixed in the master branch now.

[2015-09-16 06:52] #61 closed

[2015-09-16 12:34] bottiger commented on #50
Cannot reproduce for now

[2015-09-16 12:34] #50 closed

[2015-09-18 22:58] smarquespt opened #63 "Import action not working"
In release 0.106 import option is not working. When i try to import an .opml file nothing is done.

I´ve tried to put it in sd card and in internal storage but soundwaves always says that ther is no podcasts.opml file.

My android system is 4.3.

[2015-09-18 22:59] smarquespt opened #64 "FC whe accesing settings"
Relase 0.106 on android 4.3

Overflow menu -> Settings gives immediate FC

[2015-09-20 20:18] snelltheta opened #65 "Soundwaves crashes on incoming call during playback"
Not sure if it will crash in any case similar.

[2015-09-20 21:12] smarquespt commented on #64
@bottiger

no problem in f-droid build. only in play build.

[2015-09-20 21:12] smarquespt commented on #63
@bottiger

no problem in f-droid build. only in play build.

[2015-09-20 22:30] bottiger commented on #64
@smarquespt I have fixed the issue and it will be released ASAP (0.108)

[2015-09-20 22:30] #64 closed

[2015-09-20 22:32] bottiger commented on #63
@smarquespt This should also be fixed in the upcoming 0.108, but it's a bit more phone specific, so please reopen this if the issue is not fixed.

[2015-09-20 22:32] #63 closed

[2015-09-20 23:30] bottiger commented on #65
@snelltheta Are running android M ?

[2015-09-21 01:00] snelltheta commented on #65
Lollipop

[2015-09-21 07:50] bottiger commented on #65
@snelltheta  really? I'll have a look at it ASAP then

[2015-09-21 08:40] bottiger commented on #65
Fixed it in the master branch. Will be in the next release

[2015-09-21 08:40] #65 closed

[2015-09-26 09:31] smarquespt commented on #17
@bottiger

This might already be fixed in latest release. I won´t close this issue untill you´re sure that it is fixed. If you test booth and everything is fine on your side, could you close it?

[2015-09-26 09:32] smarquespt commented on #64
@bottiger

indeed. fixex in latest release

[2015-09-26 09:33] smarquespt commented on #63
Also fixed as stated in https://github.com/bottiger/SoundWaves/issues/64

[2015-10-02 19:29] #48 closed

[2015-10-15 05:07] snelltheta opened #69 "When attempting to browse a certain podcast, app crashes"
This certain podcast is the Naked Scientists podcast. Completely crashes app when trying to access from search results on lollipop.

[2015-10-15 07:32] bottiger commented on #69
Good find. However, the fix requires some testing and wont make it in the next service release.

It will be in 0.114.

[2015-10-15 09:26] #69 closed

[2015-10-15 09:26] bottiger commented on #69
Fixed in 0.114

[2015-10-18 00:01] smarquespt opened #70 "Unlocalizable strings in list view"
When we set the list view, the string at right of the podcast image aren't lozalized and don't exist in source file.

The string is "x new episodes", where x is the number of episodes.

Apart from that, this string should be single and plural, because podcast could have only 1 new episode.

[2016-02-23 16:39] snelltheta opened #71 "Version 0.128 crashes immediately upon launch"
Tested on LG G3

[2016-02-24 09:19] bottiger commented on #71
I am sorry. I cannot find your issues in the crash logs. Are you using the version from F-droid or Google play?

There is another issue regarding users who have connected the app to gPodder, have you done that?

[2016-02-25 21:54] smarquespt commented on #71
@bottiger

It also happens to me on the f-droid release. Play release is still on 0.126 (at least for me).

[2016-02-25 21:55] smarquespt commented on #70
@bottiger

I guess it´s fixed. At least strings are at transifex.

[2016-02-25 21:55] #70 closed

[2016-02-26 13:37] bottiger commented on #71
I think I found and fixed the problem. I will push it later today and should be on f-droid tomorrow.

[2016-02-26 13:37] #71 closed

[2016-02-27 22:14] snelltheta commented on #71
I can confirm a fix on my device! :)

[2016-02-27 22:18] snelltheta commented on #58
This problem is happening again with version 0.128.2

[2016-03-09 14:59] mokasin opened #72 "Downloading does not work"
Downloading episodes does not work for me. I've tried different podcasts. The farest I got: A download was completed but apparently not saved (immediately after it I can restart the download). Playing episodes works just fine.

Which information do you need? Then I can try to provide it.

I'm on Android 5.1.1 Xperia Z3

[2016-03-10 07:54] bottiger commented on #72
@mokasin I'm taking a wild guess here. But it sounds like the app successfully downloads the file, but fails to store it in the device.

It is not something I have heard of before, but I will start investigating potential causes.

[2016-03-10 11:19] mokasin commented on #72
@bottiger I've installed the update. Download works, but apparently it still does not stores the file.
How do I provide for the log?

[2016-03-10 12:35] bottiger commented on #72
@mokasin I send's a crash report automatically. However, it seems that the problem was not what I thought it was.

I will create a new version with some extended logging, but it may take a day or two.

[2016-03-14 21:00] bottiger commented on #72
@mokasin Can I e-mail you a special build for testing?

[2016-03-17 08:30] mokasin commented on #72
Sure, just send it to my Github Email alias.

[2016-03-19 19:55] bottiger commented on #72
@mokasin Grab this one: https://www.dropbox.com/s/oxpjg7iarkyilzk/SoundWaves128.11.apk?dl=1

It should be signed with the same key as the one on google play, therefore just replacing it. Also, when I update the app one Google play this one will be overwritten.

Anyhow. Try to download a file. Afterwards there should be a folder called "SoundWavesDebug" in the root directory of you phones storage.

[2016-03-20 19:25] mokasin commented on #72
I could not locate a file with that name. But I have found full downloaded episodes in the Android/data/.../files/tmp. I'm on my phone, so it's a bit cumbersome to check myself: Are you,by any chance,  trying to move the files elsewhere? Are you aware, that since Android 4.4 an app is not allowed to write outside specific folders? It has to go through the Storage Access Framework.

See http://m.an

[2016-03-20 19:33] bottiger commented on #72
@mokasin I is true that the files are first downloading to a tmp folder and the moved to the ["Podcast" directory](http://developer.android.com/reference/android/os/Environment.html#DIRECTORY_PODCASTS). I am aware that different versions of Android have very different permission models for writing files outside the app folder, but the podcast directory should (as far as I remember) be open.

Howev

[2016-03-20 22:29] bottiger commented on #72
@mokasin I've tested downloading on various version of Android without being able to reproduce the problem so far.

[2016-03-21 15:14] mokasin commented on #72
It's on Android 5.1.1 on a Sony Xperia Z3. Does writing the log file into the phone storage root then works? Or have I looked at the wrong place?

I'm going to look at the logcat. Maybe I'll find something.

[2016-03-22 08:08] bottiger commented on #72
@mokasin It does write everything into logcat. Just filter on the string "OkHttpDownloaderLog"

[2016-03-28 21:27] bottiger commented on #72
@mokasin I finally found a bug which probably caused this error. It should start propagating out now. Please let me know if it works for you.

[2016-03-29 16:47] mokasin commented on #72
@bottiger At least, I was able to play a stream I've previously downloaded. But there is still no indication, that it was downloaded. And it still resides in the above mentioned tmp folder.

Here is a grepped log of it
[code]

[2016-03-29 17:04] mokasin commented on #72
I've uninstalled the app completely and installed it again. Now the download does not start. I only get a "download in progress". Also no *OkHttpDownloaderLog* in the logcat.

[2016-03-29 17:27] bottiger commented on #72
@mokasin I just reproduced it on my Nexus5. I will look into it tonight. Thank you.

[2016-03-30 13:03] bottiger commented on #72
@mokasin I've published 0.128.22, with several improvements to the download manager. It's not perfect yet, but it's moving along. Can you please confirm or deny that it has solved your problem?

[2016-03-31 20:00] mokasin commented on #72
@bottiger, now I can download again. But the original issue is not solved. There is not inidication, if a podcast was downloaded or not. Also I the app crashed multiple times when trying to play a stream offline.

[2016-03-31 22:07] bottiger commented on #72
@mokasin Right, I see your crash reports. However, I have no idea how you get in that state.

**Regarding episodes not being shown as downloaded**: The download icon should turn into a trash can icon. But I assume it doesn't do that for you :) Are you downloading from the player/playlist or from inside a Feed-window?

**Regarding the crash:** I do see you crash report, but I cannot reproduce it my

[2016-04-05 19:16] mokasin commented on #72
@bottiger I've tried downloading from from the feed window and the player.
What you can try: I've subscribed to an arbitrary podcast, let's say Cooking Issues. Now I go to the feed view, select an episode (say 210) and pressing the download button. Now I get a 'cannot download' error. I add it to the playlist and again press the download button. Now I get a clock icon and nothing happens. Just pla

[2016-04-05 20:07] bottiger commented on #72
@mokasin I'll take a look at it. I've also had a problem or two the last few days, but it's hard to reproduce.

Regarding crash reports. I just assumed it was to because there was a crash when someone, using an Xperia phone, pressed the play button. I don't get that many crash reports anymore so I assumed it was you. Every crash report also includes a unique phone id, like "d324cb297bd035e6", but

[2016-04-26 10:17] Naderkunbhar commented on #40
Dear I have same issue ,App crash when I want to update adapter ,it crashes
`private void filter(String query) {
        query = query.toLowerCase();
        final SparseArray<String> filteredModelList = new SparseArray<>();
        for (int position = 0; position < sStringList.length; position++) {
            if (sStringList[position].contains(query)) {
                filteredModelList.put(posi

[2016-05-03 05:41] PanderMusubi commented on #59
Please fix this. When a user has all his or her apps in dark theme, this one sticks out by not supporting it. Please, use as much of the system's dark theme as possible.

[2016-05-05 05:45] PanderMusubi opened #73 "Offer a player widget"
Please, offer a player widget such as AntennaPod and PodListen have.

[2016-05-25 21:57] bottiger commented on #59
@PanderMusubi Sorry for being absent for such a long time. The dark theme should be working in the latest update (0.132)

[2016-05-29 14:19] bottiger commented on #73
@PanderMusubi I am working on it. I will probably be in the next release

[2016-06-15 11:55] Primokorn opened #74 "Subscription columns: a list"
Hi,
Select this option in the settings and go back to the Subscriptions tab.
You should see this bug: http://www.image-heberg.fr/files/14659245761716.png

Thank you.

[2016-06-15 11:58] Primokorn opened #75 "Text bug in the settings of a podcast"
Hi,

From the Discover tab, choose a podcast (Security now here), then hit the Settings floating button.
You shoul have this: http://www.image-heberg.fr/files/14659245761926.png

Thank you.

[2016-06-15 15:12] bottiger commented on #74
@Primokorn Thank you very much. I'll make sure to push a fix for this ASAP (1-3 days)

[2016-06-15 19:01] bottiger commented on #74
Fixed in the upcoming 0.136.4

[2016-06-15 19:01] #74 closed

[2016-06-15 19:02] bottiger commented on #73
@PanderMusubi I've added a widget in the most recent update. It's still basic but will be improved in the coming weeks. If you any any issues/suggestion please let me know.

[2016-06-15 19:02] #73 closed

[2016-06-15 19:38] bottiger commented on #75
@Primokorn Thank you for reporting this. I will fix it in the near future, but I do not think it will make it into the next release.

[2016-06-15 21:17] smarquespt commented on #17
Fixed in latest release.

[2016-06-15 21:17] #17 closed

[2016-06-15 21:20] smarquespt opened #76 "Change app color"
@bottiger

Can you consider adding an option to change app color. For me the red it´s to intrusive.

Maybe this could help: https://material.google.com/style/color.html

[2016-06-16 13:39] bottiger commented on #76
@smarquespt I will look into it. My plan is too revisit - an potentially tweak - the colors in the weekend.

However, if that doesn't solve your problem I will try to see if I can implement another solution.

[2016-06-16 14:28] #59 closed

[2016-06-27 22:44] collectorgeneral opened #77 "[Bug] App crashes after first use"
I installed the app yesterday from F-Droid. I start things up, subscribe to a couple of channels. After that, I do something else and try to start the app back, it just crashes everytime. I even tried force closing the app, to no avail. The only way I could get it to work was to force close, and then clear all app data. Then it starts up but the same process just repeats.

Phone info:
One Plus One

[2016-06-27 22:44] collectorgeneral opened #78 "[Bug] Unsubscribe does not work."
The unsubscribe button does nothing.

(I usually write a bit more verbose comments, but I do not know what else to say.)

Phone info:
One Plus One aka Bacon aka A0001 running Android 6.0.1 (Cyanogen OS 13.1)

If you need additional info, let me know.

[2016-06-28 07:32] bottiger commented on #77
@collectorgeneral Thank you for getting back to me. Since F-Droid does not allow apps to collect data without user consent I do not get enough feedback from F-droid users.

Here is what you should do. First go into "Settings -> Advanced" and enable "Send anonymous reports".

Then, when you encounter a crash go into "Settings -> Advanced -> Submit debug log". Submit a report and post the link here.

[2016-06-28 07:35] bottiger commented on #78
@collectorgeneral I did fix an issue related to this in the most recent version. However, F-Droid hasn't updated the app yet. Please let me know if the problem is still there when you are updated to 0.136.10.

[2016-06-28 08:26] bottiger commented on #77
@collectorgeneral I just talked to the team at F-Droid. It can take a few days before the app is updated due to some server problems.

You can always try to install the version on Google Play and see if you can reproduce the problem.

[2016-06-28 10:43] bottiger commented on #76
@smarquespt I am sorry. I have been looking into other colors without any luck since I am already using a less vibrant version of the colors recommended in the material design guidelines.

Could you perhaps make a mockup which some colors you would prefer?

[2016-06-28 12:30] bottiger commented on #75
@Primokorn Fixed. Will be in the next release

[2016-06-28 12:30] #75 closed

[2016-06-28 12:55] collectorgeneral commented on #77
Hmm, it is understandable, an average user might not know how to find repos and report stuff.

Anyway, here is the log you are looking for:

https://gist.github.com/anonymous/db7389d6e81ee9e2c52bc8230a1be34e

Hope this helps to find your bug.

[2016-06-28 12:56] collectorgeneral commented on #78
Alright, I will wait for F Droid to update its packages (hopefully soon) and I will let you know!

[2016-06-28 13:10] bottiger commented on #77
@collectorgeneral Thank you a lot.  You are correct that it is not obvious at all for F-Droid users to submit a crash log, and it should be improved at some point. However, the two versions are almost identical, so most problems will be identified by users of the Google Play version which submits crashes automatically.

In any case. I just inspected the log and I am sorry to tell you that this is

[2016-06-28 13:22] collectorgeneral commented on #77
@bottiger
Oh, thats unfortunate. Its fine though, as long as the bug is fixed!

[2016-06-28 13:26] bottiger commented on #77
@collectorgeneral I will let this bug stay open until the new version is available on F-Droid. Please let me know if the problem really is fixed when it's available.

[2016-06-30 14:19] collectorgeneral commented on #77
@bottiger
Couldn't reproduce the crash so far. So I assume it should be good! BTW check out the other bug I reported, it is still persistant and quite annoying actually.

[2016-06-30 14:28] bottiger commented on #78
@collectorgeneral  Yeah, there is definitly something wrong there. I'll get it fixed ASAP

[2016-06-30 14:28] #77 closed

[2016-07-16 14:04] smarquespt commented on #76
@bottiger
Sorry for the delay. No, I have no idea how to do that. The point is to leave to the user the choice any choose any color (s)he want. QKSMS is an open source app present here in github. Latest release the developer add an option to choose any color with an RGB color picker https://plus.google.com/communities/104505769539048913485, maybe that will do the trick? he also has some default co

[2016-10-09 17:03] Yxogenium opened #79 "Can't play files encoded Opus"
- Issue:
  RSS feeds providing files encoded in Opus cannot currently be used with SoundWaves : the podcast is added in the subscription list, and I can click on the play button, but no sound is actually played.
- Expected behavior:
  Ideally, SoundWaves should be able to play streams in opus. If this is not possible, it should at least show an error message.
- Reproducing:
  The CRE podcast provi

[2016-10-11 08:49] bottiger commented on #79
@Yxogenium Thank you for reporting this. Fortunately this is actually already in the next release which will be released in a not too distant future.

However, it still has some bugs I need to fix.

If you want to test it out I will push it to the beta channel later today. You can opt in here
https://play.google.com/apps/testing/org.bottiger.podcast

[2016-10-11 19:43] Yxogenium commented on #79
Wonderful!
Unfortunately I won't be able to  test it because I only have F-Droid on my device, but I'd be glad to report on it once it's released on F-Droid.

[2016-10-22 23:00] est31 opened #80 "F-droid build for 0.142.2 still failing"
I've tried to build the 0.412.2 version with the f-droid buildsystem, but it appears to still fail.

Apparently it still tries to compile files inside `app/src/main/java/org/bottiger/podcast/player/googlecast` which obviously will fail, and when I remove those files (entirely doable by f-droid) it gives me the two errors:

[code]

[2016-10-22 23:14] bottiger commented on #80
@est31 Thank you for getting back to me. Are you affiliated with F-droid?

In any case, I am aware of this problem and is working on getting it fixed. The version available on F-droid is very old at the moment, which is a shame.
However, since I do not have any good way of test building my app like F-droid does the debugging process is a bit slow.

[2016-10-22 23:22] est31 commented on #80
@bottiger yes, I'm an f-droid contributor.

If you have linux, you can [set up the buildsystem](https://f-droid.org/wiki/page/Installing_the_Server_and_Repo_Tools#Buildserver_Setup) yourself.

In any case I'll try to provide assistance if you have questions about the errors or about how to build apps for f-droid to debug issues.

[2016-10-22 23:37] bottiger commented on #80
@est31 Unfortunately I only have windows on my main machine. I may have a few questions for you, but right now I found a few problems which I'll fix first. I'll get back to you when I think I have something that works.

[2016-10-22 23:58] bottiger commented on #80
@est31 Can you try to build the current master (free flavor)? I think it should build now.

Thanks.

[2016-10-23 00:39] est31 commented on #80
@bottiger it fails, look at the log at http://pastebin.com/md6qpH73

[2016-10-23 00:55] bottiger commented on #80
@est31 Thank you very much for that. At first glance I have to admit I do not understand the problem. Normally the issue is some kind of dependency on a proprietary google library, but I can't see that it's the case here.

I will need to investigate it tomorrow.

[2016-10-23 09:21] bottiger commented on #80
@est31 I have a guess of what the problem might be, but at the moment it's only a guess. I have recently split the project into 3 modules. "app", "soundwavescommon" and "WebPlayer". The "app" module is the app itself, the "WebPlayer" is a simple web based player I'm working a bit on, and the "soundwavescommon" is just some common code.

Everything is open source, but the WebPlayer does require som

[2016-10-23 12:45] est31 commented on #80
@bottiger I can confirm that build works with commit 206e8be886442adf5080b5d7adec2eab85b708cf

[2016-10-23 12:46] est31 commented on #80
Can you do a new release for it (including raising the vercode and vername)? Then its clearer for f-droid than manually specifying a commit.

[2016-10-23 14:45] bottiger commented on #80
@est31 I will need to do some more internal testing before pushing a release. I did some changes to the database and I really need to make sure the upgrade works properly in all the cases I can think of :)

But hopefully I can push a new release later today. I will update this issue when it's done.

again - thanks a lot of getting in touch with me.

[2016-10-23 15:02] est31 commented on #80
Thanks for fixing the issues!

[2016-10-25 11:13] bottiger commented on #80
@est31 I've pushed 0.142.4 which hopefully will get the version on F-droid updated.

[2016-10-25 14:37] est31 commented on #80
@bottiger nope, seems you forgot to bump the version code. Maybe want to make a new tag with a fixed version code?

[2016-10-25 15:26] bottiger commented on #80
@est31 What a mess. I have create a new tag/release now. I hope this is final :)

[2016-10-25 16:06] est31 commented on #80
It works now. Thanks for your help!

[2016-10-25 16:06] #80 closed

[2016-12-03 09:26] Kravcian opened #81 "Playlist management issues"
First I'd like to thank the developers for this app.
It includes many options to organize our podcast and that's great. But it seems that one of them doesn't work properly : "add new episodes to the playlist".
Even though I enabled it for some of my podcast, the playlist doesn't autofill with new selected podcast. It's filled with many podcast, old and new, and even podcast I disabled the option.

[2016-12-03 12:58] bottiger commented on #81
@Kravcian Thanks you for reporting this. I am acutely  aware of the problem, and working on fixing it ASAP.

Fortunately I am now able to reproduce the problem on my phone, and expect to push a fix (0.148.8) the in the beta version today or tomorrow if everything goes well.

However, this part of the code has proven to the bug prone, and I would love to get your feedback once I push out the update

[2016-12-03 13:07] bottiger commented on #81
@Kravcian Can you please help me with this: Which podcasts are you having problems with? All of them or some specific ones? In that case, which ones?

[2016-12-03 18:53] #79 closed

[2016-12-04 09:20] est31 opened #82 "Building free flavour fails"
Hi! The F-Droid build for the latest version (0.148.8) fails. The build log is: https://f-droid.org/wiki/page/org.bottiger.podcast/lastbuild_330

[code]

It would be really nice if you could fix the issue. Thank you!

[2016-12-04 09:46] bottiger commented on #82
Sure. I'll fix it at once. Expect a new version in an hour or two.

That said - I have another question for you, which you may or may not be able to help with. In my Goole play version I include some proprietary libraries from google.

`apply plugin: 'com.google.gms.google-services'`

Obviously this doesn't work on F-droid. However, I tried to only include it you do not compile the "free flavor" l

[2016-12-04 10:10] est31 commented on #82
Sorry, I don't know gradle this close. Maybe @mvdan knows?

[2016-12-04 10:25] bottiger commented on #82
@est31 No problem. In any case - I have pushed a fix in 0.148.10

[2016-12-04 12:03] est31 commented on #82
Thanks, it works now!

[2016-12-04 12:03] #82 closed

[2016-12-05 14:24] github-user-1 opened #83 ""Options" missing in left menu"
I think the Options-dialog should be accessible via the left menu (the one selected via the three bars icon):
![screenshot_2016-12-05-15-17-51](https://cloud.githubusercontent.com/assets/6796538/20888345/64e2b050-baf6-11e6-88f6-c61acadd4587.png)

[2016-12-05 14:27] github-user-1 opened #84 "Podcast Logo not shown"
When adding a podcast (example "Zeitzeichen" from WDR1) the logo is not shown - it does show in other podcast apps though:

![screenshot_2016-12-05-15-16-16](https://cloud.githubusercontent.com/assets/6796538/20888435/e3434dec-baf6-11e6-8acb-58d619b1ca84.png)

[2016-12-05 14:28] bottiger commented on #83
@github-user-1 Thank you for taking the time to post here. Could you please elaborate?

[2016-12-05 14:29] bottiger commented on #84
@github-user-1 I know there can be an issue here. I will start working on it at once. Which podcats did you subscribe to? and did the logo appear after restarting the app?

[2016-12-05 14:30] #78 closed

[2016-12-05 14:30] #72 closed

[2016-12-05 14:30] github-user-1 opened #85 "No podcasts shown"
I tried adding a podcast stream ("Zeitzeichen" from WDR1) but looking at the individual podcasts only gives me an empty list:

![screenshot_2016-12-05-15-16-25](https://cloud.githubusercontent.com/assets/6796538/20888496/35d4f3da-baf7-11e6-8f7c-d95689f1c601.png)

[2016-12-05 14:32] bottiger commented on #85
@github-user-1 This seems related to your other issue #84 . It seems like the app fails to connect to the internet. Which phone are you using, and which version of the app?

[2016-12-05 14:33] github-user-1 opened #86 "Dark Theme - Player icon black (instead of white)"
In the dark theme the Player icon show in black (instead of white like the other icons, cf. screenshot below) which makes it hard to see and seems inconsistent:

![screenshot_2016-12-05-15-29-51](https://cloud.githubusercontent.com/assets/6796538/20888637/afb05b7c-baf7-11e6-8feb-480d8a4b0e3b.png)

[2016-12-05 14:36] github-user-1 commented on #85
I'm using Version 0.148.4.326-free-release from f-droid running on a Fairphone 2 with the latest Android 5.1 release from Fairphone. Internet connection is working perfectly well (over high-bandwidth WLAN).

[2016-12-05 14:37] bottiger commented on #86
@github-user-1 Thanks. This is fixed in the upcoming version 0.148.12

[2016-12-05 14:37] #86 closed

[2016-12-05 14:39] bottiger commented on #85
@github-user-1 odd. Could you try to reproduce the error (open a subscription which gives you are white page). Then go  to: Settings -> advanced -> submit debug log . Submit the log and post the link here. Thanks

[2016-12-05 14:43] github-user-1 commented on #84
Restarting didn't help unfortunately - still showing the same generic logo.

I added the podcast via the gPodder search (included in the app, left-most tab) - searching for "zeitzeichen" and selecting the third one from the top. There (i.e. in this list), the podcast logo is shown correctly btw:

![screenshot_2016-12-05-15-38-41](https://cloud.githubusercontent.com/assets/6796538/20888967/0f605e2c

[2016-12-05 14:48] github-user-1 commented on #85
There you go: https://gist.github.com/48fed55239fd9ab407476463bccf828d

[2016-12-05 14:53] github-user-1 commented on #83
What i meant is the following (not really important; rather a nice-to-have from my understanding/viewpoint): there are two menus accessible in this app on the top of the screen - on the left three bars, on the right three dots.

My general expectations is that the left menu (three bars) is the one where general settings, changes, version information etc. is accessible.
The right menu (three dots)

[2016-12-05 15:01] bottiger commented on #85
@github-user-1 Thank you. I'll take a look at it, and get back to you when I'm done. But I'm not sure I have time right now.

[2016-12-05 19:44] bottiger commented on #83
I agree. I actually has settings there back in the days, but it was removed because the material guidelines said it didn't belong there.

However, I can see they have changed their minds, so I'm adding it back. It will be available in 0.148.12

[2016-12-05 19:44] #83 closed

[2016-12-05 19:50] bottiger commented on #85
@github-user-1 I'm unsure what to make of this at the moment. I can subscribe to the feed just fine, and your phone can obviously fetch the images from the other podcasts in the search results. Can you subscribe to other podcasts?

[2016-12-05 19:50] bottiger commented on #84
I'm closing this one since it must be related to #85

[2016-12-05 19:50] #84 closed

[2016-12-06 19:12] AugerC opened #87 "Choose OPML location"
Right now, you need to have a file in a certain location, it would be easier for the users to select the file themselves.
This would need a FileSystem popup or ask Android for it.

[2016-12-06 19:26] bottiger commented on #87
It's hard to disagree :) The reason it's done the way it is is because it didn't have time to do a better solution  at the time. However, I do now. I will look into if there is an easy way to create a file browser and locate the file manually.

[2016-12-06 19:30] AugerC commented on #87
I'm on it, don't worry ^^

[2016-12-06 19:32] bottiger commented on #87
@AugerC On what? it seems [like it's pretty easy to pick a file](http://stackoverflow.com/questions/22619325/android-directory-and-file-chooser-android-library). Are you going to create a pull request?

[2016-12-06 19:35] AugerC commented on #87
Well, i was setting up the project to work on it this week. If you can do this faster, no problem (it will take some hours to know all folders and files you have here xD ) i will go for some other functionality.

[2016-12-06 19:37] bottiger commented on #87
@AugerC No problem, I'll just let it sit and wait then. But there are also plenty of other things to work on :)

[2016-12-07 14:41] github-user-1 commented on #85
I added two more podcast streams for testing - these two work (one of them only after restarting the app though).

[2016-12-07 14:45] github-user-1 opened #88 "Dark-Theme: Text/Icon color should be white (instead of black)"
I think a few items of the playlist should be in white (instead of black) in the Dark-Theme - the titel of the podcast, the heart symbol and the cancel icon (cross in circle). See screenshot below:

![screenshot_2016-12-07-14-24-42](https://cloud.githubusercontent.com/assets/6796538/20972094/b0b4c48c-bc8b-11e6-97fd-006308840770.png)

[2016-12-07 14:49] github-user-1 opened #89 "Crash Report"
The app crashed for me (Fairphone 2, Android 5.1) - if I remember correctly, I did a refresh on the Podcast station list (Abonnements) before it crashed.

The debug log is available at: https://gist.github.com/f488546e816c424494771355f7862557

[2016-12-08 08:00] bottiger commented on #88
Fixed in 0.148.16

[2016-12-08 08:00] #88 closed

[2016-12-11 08:15] github-user-1 opened #91 "Mobile Data Traffic with Option to Download via WLAN only"
I have a rather low limit on the mobile data traffic per month, so I want to have this app to use WLAN only - I selected the option to download via WLAN only (see below), however, the app still downloads a few MBs over mobile connections anyhow (probably not podcasts themselves, as then the data volume would be higher, but likely some podcast-lists or so):

![screenshot_2016-12-10-23-51-38](https:

[2016-12-11 10:25] bottiger commented on #91
@github-user-1 Thank you for reporting this. This has a very high priority for me!

I could be that the feed refreshes regardless of this setting, or it might be that the podcast images are refreshed. I will investigate and get back to you ASAP. But I cannot promise it will be today.

[2016-12-12 21:04] #87 closed

[2016-12-13 14:29] Kravcian commented on #81
@bottiger Hello. I downloaded the 0.148.12 version on F-Droid.
The problem I had is still present. Even if the app seems much more stable and fluid.
I live in France. Most of my podcasts are coming from French national radio stations (France culture, France inter, France info...). And it doesn't seem to be specific podcasts who doesn't auto fill, it's quite random.

[2016-12-13 14:45] bottiger commented on #81
@Kravcian I just looked through the log. It seems like the problem was fixed for real in version 0.148.16. Unfortunately that was not published on F-droid due to a build issue. However, I just (like, 10 seconds ago) fixed the build issue and pushed 0.148.18.

I expect everything to go well, and it to be available on F-droid tomorrow. (follow it here: https://f-droid.org/wiki/page/org.bottiger.podc

[2016-12-13 14:48] bottiger commented on #81
@Kravcian and btw - If you have some spare time, or know someone who would like to help out. I'm really looking for a French translator :) https://www.transifex.com/soundwaves/soundwaves/language/fr/

[2016-12-13 21:36] bottiger commented on #91
@github-user-1 I have double checked all network activity in the most recent release (0.148.18). I did locate some potential issues which I think could cause the data usage you are seeing.

Please confirm that it has been fixed.

[2016-12-13 21:38] bottiger commented on #89
@github-user-1 I'm sorry but I think I need to close this one. I don't know what the problem is. Hopefully someone else run into the same problem. If it happens to you again, please reopen this issue

[2016-12-14 10:04] github-user-1 commented on #91
Hi - yes it seems to be fixed right now. The mobile data consumed by this app is not increasing anymore the last days.

[2016-12-14 10:11] github-user-1 commented on #89
The app just crashed once again - it was when I was just opening it, but unfortunately, I can't reproduce it right now.

The debug-log is uploaded here:
[https://gist.github.com/7414a73a2d48ea1c3271056ac2617dae](https://gist.github.com/7414a73a2d48ea1c3271056ac2617dae)

[2016-12-14 10:20] github-user-1 commented on #88
I just came across two more places where I think the text color should be white (instead of black) for the Dark-Theme - in the Playlist-Filter-Menu and the left navigation (options, etc.) - see screenshots below:

![screenshot_2016-12-14-11-14-28](https://cloud.githubusercontent.com/assets/6796538/21178307/d0c62a3a-c1e6-11e6-9b29-75051c249349.png)

![screenshot_2016-12-14-11-14-10](https://cloud.g

[2016-12-14 10:26] bottiger commented on #91
@github-user-1 Good to hear.

[2016-12-14 11:57] github-user-1 commented on #88
and one more I found - if one expands an episode in the Playlist - the heart (what does it mean/stand for btw?) and the cross - they should be white instead of black I assume:

![screenshot_2016-12-14-11-41-35](https://cloud.githubusercontent.com/assets/6796538/21181167/79173ae6-c1f4-11e6-8d9f-496541de99fd.png)

[2016-12-14 12:03] bottiger commented on #89
@github-user-1 I will do some more investigation of the issue then

[2016-12-14 19:30] github-user-1 commented on #85
hmm - something strange as well... I exported opml from Doggcatcher and imported it into Soundwaves. What I got is (even after waiting an hour or so):

![screenshot_2016-12-14-15-11-58](https://cloud.githubusercontent.com/assets/6796538/21197519/a47cc00e-c233-11e6-8a95-473d07790054.png)

[2016-12-14 19:37] github-user-1 commented on #91
Today I was traveling and when checking it seems that SoundWaves did download via mobile connection again - not that much but around another 17 MB (see below). I have set the options to manual download only and to download via WLAN only (see below).

I think SoundWaves was trying to catch new episode lists, podcast covers, etc. while moving around. I had WAN connections from time to time, but also

[2016-12-14 21:26] github-user-1 commented on #89
Just in case this is interesting - I tried on another phone (Samsung Galaxy, Android 6; not mine, but I can check there as well) and also got a crash after importing the opml file.

The log is available at: https://gist.github.com/anonymous/b0568975c339b9f42ac554f6414c890a (I see some out-of-memory alerts, but I'm no expert on reading these logs properly).

Anyhow - great app, looks very nice and

[2016-12-15 09:16] bottiger commented on #91
@github-user-1 I think you are right. SoundWaves should not refresh feeds, and should not fetch album covers  on your case. But all the checks are made before starting a connection, and not while downloading a file. I honestly thought my "download a file" code would just break when the connection type changed, but it may be the case that it handles it and keeps downloading using mobile data.

I wi

[2016-12-15 11:28] bottiger commented on #89
@github-user-1 Could you provide me with the OPML file you imported?

[2016-12-15 13:27] bottiger commented on #85
@github-user-1 Again - I would really like that OPML file, so I can inspect the feeds. Thanks

[2016-12-15 16:17] github-user-1 commented on #89
Here's the ompl-file (an export from the DoggCatcher app); renamed to `podcasts.opml.txt` only here so github does include it properly:

[podcasts.opml.txt](https://github.com/bottiger/SoundWaves/files/655177/podcasts.opml.txt)

[2016-12-15 16:18] github-user-1 commented on #85
Here's the opml-file (an export from the DoggCatcher app); renamed to `podcasts.opml.txt` only here so github does include it properly:

[podcasts.opml.txt](https://github.com/bottiger/SoundWaves/files/655181/podcasts.opml.txt)

[2016-12-17 08:31] github-user-1 commented on #91
Just found this information (tap on the app on the data-usage list) - don't know if it's useful or not but wanted to share it at least. It shows the foreground (3 MB) and background (25 MB) traffic consumption:

![screenshot_2016-12-16-18-26-24](https://cloud.githubusercontent.com/assets/6796538/21285538/1ad6ac14-c433-11e6-86ac-4a5877b6c945.jpg)

[2016-12-17 11:49] bottiger commented on #91
@github-user-1 Hi again. I need to work a bit more on this. It turns out that loading images takes a bit more bandwidth than I expected and I do not have a good system to handle this yet. The "Download only on wifi" was only meant for downloading entire episodes, but I guess I need to make it into two options. One which is "only download episodes on WiFi" and one which says "not do download anythi

[2016-12-19 12:17] bottiger opened #92 "Better support for Podcasts without an image"
If a podcast subscription doesn't have an image - or the image is not currently available - a generic placeholder image is used.

However, the experience is not very good, and I think it would be a better user experience to show a colored background with the podcast title instead.

[2016-12-20 20:55] #34 closed

[2016-12-20 20:55] #37 closed

[2016-12-21 08:15] stkb opened #93 "Can't select .opml file for import"
Version 0.148.28.350-google-release, Android 5.1

Hi, just trying this app out and it looks nice. However I can't import my subscriptions from an opml file created from Podcast Addict. I'm trying to import it with the Import OPML function, but after navigating to the file, it's greyed-out and can't be selected for import.

<img width="360" alt="screenshot_2016-12-21-08-59-57" src="https://cloud.gi

[2016-12-21 09:45] bottiger commented on #93
@stkb I'll look into it ASAP

[2016-12-21 09:50] bottiger commented on #93
@stkb I just tested it on my phone and I do not have the same problem. Which file manager are you using (if any)? When you click the import and get a slide in menu - what do you do from there?

[2016-12-21 11:36] AugerC commented on #93
Yeah, it happens with the stock file manager, it seems that you have to specify the file extension you want to access. I tried to fix it, but unsuccessfully.
From now, if you try to select the file with some other file manager than the android stock one, you should be able to select the file.

[2016-12-21 12:35] bottiger commented on #93
@stkb I have hopefully fixed the issue and pushed it to the beta version on the play store, which is available here: https://play.google.com/apps/testing/org.bottiger.podcast (Version 0.148.29.351-google-release)

Could you please test it? I would be a great help.

@AugerC  I found that [there is an API which allows for multiple filetypes on KitKat and above](http://stackoverflow.com/questions/169

[2016-12-21 16:21] stkb commented on #93
Thanks guys, yeah I was the stock file manager to find the file. I also have the Amaze file explorer installed and later I tried going through that to pick the file, and it worked fine.

Unfortunately after updating to the .351 version I'm still seeing the same issue with the stock browser though.

Since this issue is kinda resolved for me you can close it if you wish, although I guess its not ide

[2016-12-21 20:46] bottiger commented on #93
@stkb I would love all the feedback I can get. Both functional problems, and bugs.

Also, I found a problem with OPML files from Podcast addict specifically which should be fixed in the master branch now. But since you have solved your issue I'm not going to publish a new version again.

Thanks for your feedback

[2016-12-21 20:46] #93 closed

[2016-12-23 08:28] bottiger commented on #91
@github-user-1 I've added a new setting in order to hopefully fix this problem for real. Now there is one settings for only downloading files on wifi, and one settings which will disable all background data (like refreshing feeds) on mobile data.

Hope this helps you.

[2016-12-23 08:28] #91 closed

[2016-12-23 22:43] bottiger opened #95 "Search engine fallback"
If a podcast search directory isn't responding - maybe because the server is down -  the issue should be communicated to the user, and another engine should be offered.

Currently it just shows "no results"

[2016-12-23 22:57] bottiger opened #96 "Archive.org support"
Support searching for audio using Archive.org. Implementing the search engine should be very easy using their API: https://archive.org/help/json.php

However, since it just returns a list of audio files - and not a list of podcast feeds like any other currently supported directory -this needs to be handeled

[2016-12-23 23:53] bottiger opened #97 "Download only when charging"

[2016-12-24 03:45] tssva opened #98 "gPodder should be gpodder.net"
gpodder.net is referred to in the app as gPodder and GPodder. The documentation at gpodder.net requests that applications refer to the service as gpodder.net. gPodder should only be used in reference to the gPodder podcast client.

[2016-12-24 04:34] bottiger commented on #98
I will look into this. I thought I was careful to get out right, but maybe I didn't :)

[2016-12-24 04:46] bottiger opened #99 "Better bulk download Mangement"

[2016-12-24 04:48] bottiger opened #100 "Ensure that the camera permission is granted when needed"

[2016-12-24 04:48] bottiger opened #101 "Ensure that the storage permission is granted when needed"
Also if I attempt to first use the bulk download feature, then I won't get prompted for the storage permission. If I just manually select an individual episode for download, I do get prompted.

[2016-12-24 04:49] bottiger opened #102 "Download notification"

[2016-12-24 04:53] bottiger opened #103 "Store media files on sdcard"

[2016-12-24 09:08] bottiger opened #104 "Car mode"
Support a mode with a simple interface and big buttons for driving.

[2016-12-25 01:48] bottiger commented on #98
Fixed in 2eea54fba47652d455e359afc08135124f165110 . Will be in the next release

[2016-12-25 01:48] #98 closed

[2016-12-25 01:49] bottiger commented on #100
Fixed in 98432dfef3367dcc27742fb450b5e34df6243f89

[2016-12-25 01:49] #100 closed

[2016-12-25 02:03] #97 closed

[2016-12-25 17:56] bottiger opened #106 "Refactoring the Player view"
I should try to simplify the player.

[2016-12-26 12:35] bottiger opened #107 "Display episode age"
It should be clear how old an episode is. Like 3 days old or 4 hours old

[2016-12-26 21:15] #103 closed

[2016-12-29 21:22] #99 closed

[2016-12-31 00:16] #102 closed

[2016-12-31 00:16] bottiger commented on #101
Fixed

[2016-12-31 00:16] #101 closed

[2016-12-31 00:16] bottiger commented on #107
Fixed

[2016-12-31 00:16] #107 closed

[2016-12-31 07:41] HiddenBehindMask commented on #106
Hello there, [here's](http://imgur.com/85ukOV1) the new mock up.

I only removed the heart and changed the placement of the submenu button. I tried looking for different media controls buttons, but I didn't find anything that looks good. I'm free now, so if you find any other button you like, send it to me and I will create a mock-up with the provided buttons.

[2017-01-03 22:08] bottiger commented on #106
@HiddenBehindMask Thank you. I have started refactoring the Player. The first iteration should be in the beta release now

[2017-01-04 22:29] bottiger opened #108 "Ensure that Subscriptions settings works on all screen resolutions"
On the OnePlusOne (and similar phones) all the subscription settings are not visible.

http://i.imgur.com/lb5vjer.png

[2017-01-05 05:18] ImDevinC opened #109 "Can't view all playlist items"
This is on a Pixel XL. I have added two different podcasts (99% Invisible and Lore) and the playlist runs off the bottom of the screen like in the picture.
![screenshot_20170104-211149](https://cloud.githubusercontent.com/assets/3997333/21669761/423cad64-d2c3-11e6-88b1-d0f08d7c2a6f.png)

[2017-01-05 08:15] bottiger commented on #109
@ImDevinC Right. I'll make sure to get that fixed very soon. Thanks for reporting it.

[2017-01-05 14:04] bottiger commented on #109
@ImDevinC I located and fixed the issue. It should be out shortly. If you subscribe to the beta version I will make it available in a few hours

[2017-01-05 15:19] #108 closed

[2017-01-05 15:19] #109 closed

[2017-01-10 02:16] sanbroz opened #110 "Single purpose App for Radio Stations"
I am running a community radio. It will be very nice if you have a single station App branch with following modifications-

Removed iTunes/gPodder search
Pre subscribed feeds
Custom feed list in Editors choisc from json feed
Radio stream tab to listen radio

[2017-01-10 14:55] bottiger commented on #110
Hi sanbroz

Since you also sent me en e-mail I have replied there.

[2017-01-10 14:55] #110 closed

[2017-02-03 19:07] jah603 opened #111 "Widget does not open app"
The home screen widget does not open the app.

[2017-02-07 08:09] bottiger commented on #111
@jah603 Sorry for the late respone. It's a nice point. I will try to make it in the next release

[2017-02-19 08:48] github-user-1 commented on #89
Just tried the latest version (0.150.370-free-release from F-Droid) and experienced the same crash again. I have a bit more than a dozen podcast streams subscribed. When I select to update all podcasts subscriptions on the subscriptions tab and also try to scroll it crashes silently. The scrolling up and down is extremely slow and jerky.
My impression is that this updating is not in a separate, in

[2017-02-28 10:11] bottiger commented on #89
@github-user-1 Thanks. Unfortunately I'm living without internet for the next week or so. However, I will get back to the app ASAP

[2017-04-21 15:31] rottenwheel opened #112 "Issue exporting my podcasts list"
Hi Arvid,

I'm experiencing an issue when I try to export this opml file to storage. Essentially I tap the button and nothing else happens. No file within my SD, nor other prompting comes up. We talked via e-mail but I never heard back from you. Allegedly, you hadn't had Internet service this time and that's why you haven't been able to update the application. I kind of wanted to open the issue on

[2017-04-26 19:52] aharris88 opened #113 "Crashes when I tap on Author"
In Settings -> About, when I tap on "Arvid Böttiger", it crashes the app everytime. I can tap on "Github", "Twitter", "Reddit", or "E-mail" just fine.

[2017-05-05 12:02] bottiger commented on #113
@aharris88 Sorry for not getting in touch with you before now.

Thank you for finding this bug, I have fixed it in the master branch

[2017-05-15 07:02] #113 closed

[2017-05-19 20:31] aharris88 commented on #104
I wonder if this app already works with the Google Auto app? I know it's not free software, but maybe a new free software app would work better than trying to add a car mode to this app.

In other words, if there was a free software app that could work with other existing maps/navigation apps as well as audio apps, then this app wouldn't have to worry about a card mode.

[2017-05-19 20:33] aharris88 opened #114 "How to get beta app"
Hi,

Is there a way to get the beta app without using Google Play? Do you have an apk download? or instructions on how to build from source?

[2017-05-19 20:38] aharris88 commented on #106
I think the new fast forward and rewind buttons look like "next" and "previous". To me they don't indication skipping forward a certain number of seconds. Maybe the buttons should say "+30s" and "-10s". That way the user knows exactly what they do.

Btw, I don't know how many seconds it currently moves, but I like the idea of going 30 seconds forward and 10 seconds back because you can quickly go

[2017-05-19 20:53] aharris88 opened #115 "Invisible play buttons"
I think this is because of the "main color" that is probably automatically chosen for a podcast. For the podcast "S-Town" I think it's main color is white, so the play button appears broken or invisible.

![tmp_14211-screenshot_20170519-1444531237417861](https://cloud.githubusercontent.com/assets/3266363/26266513/e3714fa2-3ca2-11e7-9e2c-99e8d13a6df1.png)

[2017-05-19 20:54] aharris88 commented on #115
Also, I have no idea why I'm seeing each episode twice.

[2017-05-22 13:30] bottiger commented on #115
@aharris88 Thanks for reporting this. While everything is going a bit slowly at the moment I'll look at it asap.

[2017-05-22 13:31] bottiger commented on #114
@aharris88 As far as I know F-droid does not support betas. However, if you are a bit technical you can compile and install it yourself.

[2017-05-22 13:32] bottiger commented on #112
@rottenwheel Let me know if version 0.157 fixes it.

[2017-05-22 13:33] bottiger commented on #104
@aharris88 I will look into the details of this. However, I fear that Google is restricting the libraries to non-free applications.

[2017-05-23 18:31] #114 closed

[2017-05-23 18:34] bottiger opened #116 "ExampleException in home#example"
## Test error in Example.com

**ExampleException** in **home#example**
Something really bad happened

[View on Bugsnag](http://app.bugsnag.com/errors/example/events/example?i=gh&m=te)

## Stacktrace

    app/controllers/home_controller.rb:123 - example
    app/controllers/other_controller.rb:12 - broken
    lib/important/magic.rb:4 - load_something

[View full stacktrace](http://app.bugsnag.com/er

[2017-05-23 23:46] bottiger opened #117 "java.lang.IllegalStateException in ViewGroup.java:4313"
## Error in SoundWaves

**java.lang.IllegalStateException** in **ViewGroup.java:4313**
The specified child already has a parent. You must call removeView() on the child's parent first.

[View on Bugsnag](https://app.bugsnag.com/bottiger/soundwaves/errors/5924c9ba2f127b00181c0968?event_id=5924c9ba2f127b00181c0967&i=gh&m=ci)

## Stacktrace

    ViewGroup.java:4313 - android.view.ViewGroup.addViewInn

[2017-05-24 02:30] bottiger opened #118 "java.lang.NullPointerException in PopupWindow.java:2380"
## Error in SoundWaves

**java.lang.NullPointerException** in **PopupWindow.java:2380**
Attempt to invoke virtual method 'android.transition.Transition android.transition.Transition.removeListener(android.transition.Transition$TransitionListener)' on a null object reference

[View on Bugsnag](https://app.bugsnag.com/bottiger/soundwaves/errors/5924f02b6e48b60019ea49e2?event_id=5924f02b6e48b60019ea4

[2017-05-24 07:31] #116 closed

[2017-05-24 07:33] #117 closed

[2017-05-24 07:33] #118 closed

[2017-05-24 13:21] bottiger opened #119 "java.lang.RuntimeException in ActivityThread.java:2815"
## Error in SoundWaves

**java.lang.RuntimeException** in **ActivityThread.java:2815**
Unable to start activity ComponentInfo{org.bottiger.podcast/org.bottiger.podcast.MainActivity}: android.view.InflateException: Binary XML file line #58: Binary XML file line #58: Error inflating class android.support.design.widget.NavigationView

[View on Bugsnag](https://app.bugsnag.com/bottiger/soundwaves/erro

[2017-05-24 13:48] bottiger opened #120 "io.a.c.f in RxJavaPlugins.java:366"
## Error in SoundWaves

**io.a.c.f** in **RxJavaPlugins.java:366**
java.lang.OutOfMemoryError: OutOfMemoryError thrown while trying to throw OutOfMemoryError; no stack available

[View on Bugsnag](https://app.bugsnag.com/bottiger/soundwaves/errors/59258f3cf1f51e0018ab8f0a?event_id=59258f3cf1f51e0018ab8f09&i=gh&m=ci)

## Stacktrace

    RxJavaPlugins.java:366 - io.a.g.a.a

[View full stacktrace](ht

[2017-05-24 21:03] bottiger opened #121 "javax.net.ssl.SSLHandshakeException in OpenSSLSocketImpl.java:394"
## Error in SoundWaves

**javax.net.ssl.SSLHandshakeException** in **OpenSSLSocketImpl.java:394**
java.security.cert.CertPathValidatorException: Trust anchor for certification path not found.

[View on Bugsnag](https://app.bugsnag.com/bottiger/soundwaves/errors/5925f51a2e3cb60018095e74?event_id=5925f51a2e3cb60018095e73&i=gh&m=ci)

## Stacktrace

    OpenSSLSocketImpl.java:394 - org.apache.harmony.

[2017-05-25 00:25] bottiger opened #122 "java.lang.NullPointerException in Parcel.java:1552"
## Error in SoundWaves

**java.lang.NullPointerException** in **Parcel.java:1552**
Attempt to invoke virtual method 'int com.android.server.job.controllers.JobStatus.getUid()' on a null object reference

[View on Bugsnag](https://app.bugsnag.com/bottiger/soundwaves/errors/5926246968727c00196701e2?event_id=5926246968727c00196701e1&i=gh&m=ci)

## Stacktrace

    Parcel.java:1552 - android.os.Parcel.

[2017-05-25 01:19] bottiger opened #123 "java.lang.IllegalStateException in ViewGroup.java:3562"
## Error in SoundWaves

**java.lang.IllegalStateException** in **ViewGroup.java:3562**
The specified child already has a parent. You must call removeView() on the child's parent first.

[View on Bugsnag](https://app.bugsnag.com/bottiger/soundwaves/errors/5926312f20cd710018180afa?event_id=5926312f20cd710018180af9&i=gh&m=ci)

## Stacktrace

    ViewGroup.java:3562 - android.view.ViewGroup.addViewInn

[2017-05-25 01:37] bottiger opened #124 "javax.net.ssl.SSLHandshakeException in OkHttpDownloader.java:133"
## Error in SoundWaves

**javax.net.ssl.SSLHandshakeException** in **OkHttpDownloader.java:133**
com.android.org.bouncycastle.jce.exception.ExtCertPathValidatorException: Could not validate certificate: Certificate expired at Mon May 22 01:02:00 GMT+02:00 2017 (compared to Thu May 25 03:36:55 GMT+02:00 2017)

[View on Bugsnag](https://app.bugsnag.com/bottiger/soundwaves/errors/59263537b837b8001806

[2017-05-25 13:30] bottiger opened #125 "java.lang.IllegalStateException in ViewGroup.java:4466"
## Error in SoundWaves

**java.lang.IllegalStateException** in **ViewGroup.java:4466**
The specified child already has a parent. You must call removeView() on the child's parent first.

[View on Bugsnag](https://app.bugsnag.com/bottiger/soundwaves/errors/5926dc7a8c29a400181d2c3c?event_id=5926dc7a8c29a400181d2c3b&i=gh&m=ci)

## Stacktrace

    ViewGroup.java:4466 - android.view.ViewGroup.addViewInn

[2017-05-25 15:41] bottiger opened #126 "java.net.SocketTimeoutException in OkHttpDownloader.java:134"
## Error in SoundWaves

**java.net.SocketTimeoutException** in **OkHttpDownloader.java:134**
failed to connect to s3-streaming.stuffyoushouldknow.com/52.84.76.167 (port 8082) after 10000ms

[View on Bugsnag](https://app.bugsnag.com/bottiger/soundwaves/errors/5926fb3fd8233f001c1bbc87?event_id=5926fb3fd8233f001c1bbc86&i=gh&m=ci)

## Stacktrace

    OkHttpDownloader.java:134 - org.bottiger.podcast.se

[2017-05-25 15:56] bottiger opened #127 "java.net.SocketTimeoutException in OkHttpDownloader.java:134"
## Error in SoundWaves

**java.net.SocketTimeoutException** in **OkHttpDownloader.java:134**
failed to connect to www.podtrac.com/52.86.119.109 (port 80) after 10000ms: isConnected failed: ETIMEDOUT (Connection timed out)

[View on Bugsnag](https://app.bugsnag.com/bottiger/soundwaves/errors/5926fe9b24d686001aec2557?event_id=5926fe9b24d686001aec2556&i=gh&m=ci)

## Stacktrace

    OkHttpDownloader.j

[2017-05-25 20:25] bottiger opened #128 "java.net.SocketException in OkHttpDownloader.java:286"
## Error in SoundWaves

**java.net.SocketException** in **OkHttpDownloader.java:286**
Software caused connection abort

[View on Bugsnag](https://app.bugsnag.com/bottiger/soundwaves/errors/59273db54242bf00183eeb26?event_id=59273db54242bf00183eeb25&i=gh&m=ci)

## Stacktrace

    OkHttpDownloader.java:286 - org.bottiger.podcast.service.Downloader.engines.okhttp.OkHttpDownloader$ProgressResponseBody$

[2017-05-25 20:38] bottiger opened #129 "java.io.IOException in OkHttpDownloader.java:144"
## Error in SoundWaves

**java.io.IOException** in **OkHttpDownloader.java:144**
Unexpected code Response{protocol=http/1.0, code=404, message=Not Found, url=http://traffic.libsyn.com/mostlyfolk/episode2028620-2053A213A172C205.2820PM.mp3?dest-id=225330}

[View on Bugsnag](https://app.bugsnag.com/bottiger/soundwaves/errors/592740cdff196a001923ea6b?event_id=592740cdff196a001923ea6a&i=gh&m=ci)

## St

[2017-05-25 21:43] bottiger opened #130 "org.xmlpull.v1.XmlPullParserException in KXmlParser.java:2071"
## Error in SoundWaves

**org.xmlpull.v1.XmlPullParserException** in **KXmlParser.java:2071**
expected: START_TAG {null}rss (position:START_TAG <html lang='en' class='no-js'>@30:31 in java.io.InputStreamReader@f0d144d)

[View on Bugsnag](https://app.bugsnag.com/bottiger/soundwaves/errors/59275012ad58c20018f7aa21?event_id=59275012ad58c20018f7aa20&i=gh&m=ci)

## Stacktrace

    KXmlParser.java:2071

[2017-05-25 22:30] bottiger opened #131 "java.lang.RuntimeException in Parcel.java:926"
## Error in SoundWaves

**java.lang.RuntimeException** in **Parcel.java:926**
bad array lengths

[View on Bugsnag](https://app.bugsnag.com/bottiger/soundwaves/errors/59275b00670e30001885885c?event_id=59275b00670e30001885885b&i=gh&m=ci)

## Stacktrace

    Parcel.java:926 - android.os.Parcel.readIntArray

[View full stacktrace](https://app.bugsnag.com/bottiger/soundwaves/errors/59275b00670e30001885

[2017-05-25 23:24] bottiger opened #132 "java.lang.IllegalStateException in OkHttpDownloader.java:134"
## Error in SoundWaves

**java.lang.IllegalStateException** in **OkHttpDownloader.java:134**
Closing the body of Response{protocol=http/1.1, code=302, message=Found, url=http://rss.art19.com/episodes/278b0553-52c5-4f72-946d-526261ceaf53.mp3?identify=true} didn't close its backing stream. Bad interceptor?

[View on Bugsnag](https://app.bugsnag.com/bottiger/soundwaves/errors/5927678f7ccf1400184dff08

[2017-05-26 03:00] bottiger opened #133 "okhttp3.internal.framed.StreamResetException in FeedParser.java:618"
## Error in SoundWaves

**okhttp3.internal.framed.StreamResetException** in **FeedParser.java:618**
stream was reset: CANCEL

[View on Bugsnag](https://app.bugsnag.com/bottiger/soundwaves/errors/59279a31b1851100180b94d0?event_id=59279a31b1851100180b94cf&i=gh&m=ci)

## Stacktrace

    FeedParser.java:618 - org.bottiger.podcast.parser.FeedParser.readText
    FeedParser.java:505 - org.bottiger.podcas

[2017-05-26 05:20] bottiger opened #134 "java.net.ProtocolException in StatusLine.java:88"
## Error in SoundWaves

**java.net.ProtocolException** in **StatusLine.java:88**
Unexpected status line: HTTP/1.1 401.3 Unauthorized

[View on Bugsnag](https://app.bugsnag.com/bottiger/soundwaves/errors/5927bb1903b58500180ca8c9?event_id=5927bb1903b58500180ca8c8&i=gh&m=ci)

## Stacktrace

    StatusLine.java:88 - okhttp3.internal.http.StatusLine.parse

[View full stacktrace](https://app.bugsnag.com

[2017-05-26 13:28] bottiger opened #135 "java.lang.OutOfMemoryError in IoUtils.java:227"
## Error in SoundWaves

**java.lang.OutOfMemoryError** in **IoUtils.java:227**

[View on Bugsnag](https://app.bugsnag.com/bottiger/soundwaves/errors/59282d8c888a0f00183af7e3?event_id=59282d8c888a0f00183af7e2&i=gh&m=ci)

## Stacktrace

    IoUtils.java:227 - libcore.io.IoUtils$FileReader.<init>

[View full stacktrace](https://app.bugsnag.com/bottiger/soundwaves/errors/59282d8c888a0f00183af7e3?event

[2017-05-26 14:45] Trevonn opened #136 "Add custom location for downloaded podcasts?"

[2017-05-26 15:26] aharris88 commented on #136
I believe it currently downloads files to `Internal -> Podcasts`, which I was a little surprised by. I would expect something with the name of the app.

@Trevonn  I'm curious. Why do you want this feature?

[2017-05-26 17:29] bottiger opened #137 "java.lang.OutOfMemoryError in MdfppReflectionUtils.java:129"
## Error in SoundWaves

**java.lang.OutOfMemoryError** in **MdfppReflectionUtils.java:129**
Failed to allocate a 12 byte allocation with 3864 free bytes and 3KB until OOM

[View on Bugsnag](https://app.bugsnag.com/bottiger/soundwaves/errors/592865e532c47e0018c987dc?event_id=592865e532c47e0018c987db&i=gh&m=ci)

## Stacktrace

    MdfppReflectionUtils.java:129 - java.util.MdfppReflectionUtils.isMdfE

[2017-05-26 19:57] bottiger commented on #136
@aharris88 It is the recommended location for podcast episodes, although most apps don't do it: https://developer.android.com/reference/android/os/Environment.html#DIRECTORY_PODCASTS

@Trevonn I actually think the idea has some legs, because there have been some confusion in the past about the location of the files.

[2017-05-27 21:37] e3b opened #138 "How come 0.150 is the newest version on F-Droid?"
Google Play Store has 0.157. Why? I'm just curious; don't want to be rude.

[2017-05-27 21:38] rottenwheel commented on #112
@bottiger I'm running F-Droid compiled version here. Due to the fact it hasn't been compiled by them, I haven't been able to get my hands on it as of yet. I'll provide you with further feedback when I try to export my list using such .apk version. Thanks!

[2017-05-28 09:39] bottiger commented on #138
@e3b It's not rude to ask. However, the reason is this. F-droid can a bit slow to update whenever I publish a new version. Therefore, if a new release contains one or more critical bugs it's a real bummer to have it published on F-droid since I have to wait several days before a fixed version is ready. Also, as far as I know F-droid does not support beta versions.

Therefore I first publish a beta

[2017-05-28 09:39] #138 closed

[2017-05-29 07:47] Trevonn commented on #136
I didn't actually know where the files were stored. My plan was to point it to the recommended location though. I guess this feature could be useful for SD cards user's though?

[2017-05-30 20:38] rottenwheel commented on #112
@bottiger The bug persists. I go to Import/Export, tap Export OPML file, Export to storage and nothing happens other than bringing me back to the main Import/Export screen.

New log: https://gist.github.com/anonymous/6d56b245c08225bef8a6df1dce8d057d

[2017-05-30 21:21] bottiger commented on #112
@rottenwheel I've pushed 0.158.2 to F-droid. Hopefully it will build tomorrow and be a bit more aggressive with reporting errors. Please let me know what the text below "Export subscriptions to OPML" says.

[2017-05-31 19:20] adpaolucci opened #139 "F-Droid Install Issues"
Hello!

I've observed an issue with installing SoundWaves from the F-Droid application on CopperheadOS(marlin), once I attempt to install I just get a black screen nothing else, need to force kill the process. It seems very similar to the issue linked from the F-Droid issue tracker which is that of an improper permission being set. Please let me know if more logs are needed or further testing, I a

[2017-05-31 19:37] bottiger commented on #139
@adpaolucci Thank you for reporting this. Unfortunately I don't really know what to do about it.

You are correct in that it looks like a permission mismatch - just like the bug you are referring to. However, I can't imagine which permissions I am missing.

I think you should create an issue on the F-droid bug tracker and send the link to me. Then I will help if needed.

[2017-06-01 10:49] rottenwheel commented on #112
@bottiger Thanks. I will update the repositories until I receive the update. Hopefully they don't take too long this time. As soon as get my hands on it, I will try to catch a new log for you.

Yes, there used to be small pop-up when exporting. Problem is, there's nothing at the moment.

Side note: the Storage permission is enabled within Android settings, Camera, Contacts and Phone are not. I don

[2017-06-01 11:16] NitroNils opened #140 "Importing OPML file fails."
Trying to migrate from AntennaPod and exported OPML, but importing it from SoundWaves fail.
Using 0.158.358-free-release.
Tried several file managers: Huawei's EMUI one, stock, Ghost Commander.

PHONE_MODEL=ALE-L21_
BRAND=Huawei
ANDROID_VERSION=6.0
APP_VERSION_NAME=0.103
EMUI_VERSION=4.03

[2017-06-01 11:18] bottiger commented on #140
@NitroNils How does it fail. Are you not allowed to pick the OPML file, or does it not import when you select it? Can you send me a copy of the file?

[2017-06-02 02:21] rottenwheel commented on #112
@bottiger I got the 0.158.2 version. Tried to export the OPML file, same scenario: no head-up message below the options and goes back to the main screen of Import/Export.

On an unrelated note, I've been noticing since 0.158 (may be happening before, yet I'm not entirely sure because it wasn't happening back in the days). There's this buggy behaviour when playing episodes. Essentially, the reprodu

[2017-06-02 07:18] bottiger commented on #112
@rottenwheel I understand there is no heads-up message. However, what does the text in the on the export page say:

![screenshot_20170602-090750](https://cloud.githubusercontent.com/assets/489129/26715008/463927fa-4774-11e7-9f40-0ba56243174d.png)

Also. Regarding the seeking I am aware of it, and it has been fixed in 0.158.4 which is just waiting to be compile on F-droid. A quickfix is to make sur

[2017-06-02 13:16] rottenwheel commented on #112
@bottiger Pretty much what yours say. _Export your subscriptions to the internal storage. They are stored on /storage/emulated/0/podcasts.opml_

Perhaps I used to have a heads-up prompting when it was working in the past, I don't recall.
![soundwaves](https://cloud.githubusercontent.com/assets/27861233/26727237/0c4c3712-4774-11e7-8d75-52d277944372.png)

Thanks!

[2017-06-05 02:55] NitroNils commented on #140
Attachment sent by mail to soundwavebugs.

[2017-06-05 04:26] NitroNils commented on #140
It fails to open - selecting the file just sends me back to SoundWaves.

[2017-06-10 05:14] psamim opened #141 "Recent episodes lits feature"
Hi,

As a feature request it would be nice to have a view of the all recent episodes of all subscribed podcasts in a list.

Thanks

[2017-06-15 04:52] anoadragon453 opened #142 "Sound Engine Settings not persistent"
Hello there!

Currently using v0.158.2 from F-droid. It seems that changing any of the Sound Engine Settings (Playback speed, skip silence) do not have any effect and immediately reset to their default values after hitting the 'OK' button.

Android 7.1.2 - let me know if you need a logcat.

[2017-06-15 08:18] digiwizkid opened #143 "Whats the status of Transifex translations?"
Recently I have translated the resources in Bengali(India). There are multiple translations already completed and waiting for review. @bottiger please look into this matter.
Regards,

[2017-06-15 08:34] bottiger commented on #143
@digiwizkid The status is that I will include it in the next release. Which will be out in a few days.

thanks for your effort!

[2017-06-15 17:19] #143 closed

[2017-06-16 07:47] bottiger commented on #142
@anoadragon453 Thank you for reporting this! I will push the fix today (might take a day to roll out)

[2017-06-16 07:55] bottiger commented on #141
Hi @psamim .

Sorry for the late reply. That is sort of the intention of the playlist, which is located just below the player. Is there a reason this isn't working for you?

[2017-06-16 08:20] #142 closed

[2017-06-16 09:58] psamim commented on #141
My mistake, I am subscribed to more than 50 podcasts therefore I have selected to "Queue episodes manually" in playlist and not to show "Recent episodes". So I have to browse Podcasts one by one and queue episodes in playlist and do not have a recent episodes playlist.

[2017-06-16 10:47] anoadragon453 commented on #142
Will test when it hits F-droid. Thanks!

[2017-06-16 12:41] bottiger commented on #140
@NitroNils Hi again.

Could you please send me a debug log (settings -> advanced -> submit debug log) when the new version 0.158.8 hits F-droid tomorrow.

[2017-06-16 16:39] NitroNils commented on #140
Yeah, you never received the previous one, did you? I'll be happy to! Sent from my Huawei Mobile-------- Original Message --------Subject: Re: [bottiger/SoundWaves] Importing OPML file fails. (#140)From: Arvid Böttiger To: bottiger/SoundWaves CC: NitroNils ,Mention @NitroNils Hi again.
Could you please send me a debug log (settings -> advanced -> submit debug log) when the new version 0.158.8 hits

[2017-06-16 19:46] aharris88 opened #144 "Can't tap last button at the bottom"
When I scroll all the way to the bottom, the Android controls cover up the plus button on the last item. In this case, I can barely tap on the description, which will expand the description, which will allow me to tap the plus icon, but this might not always work if the description was short. Either way, it's not a great user experience.

So, it should probably just have some extra padding at the

[2017-06-19 07:42] bottiger commented on #144
@aharris88 I'll make sure to get it fixed asap

[2017-06-19 11:57] NitroNils commented on #140
Latest version here is 158.2!Sent from my Huawei Mobile-------- Original Message --------Subject: Re: [bottiger/SoundWaves] Importing OPML file fails. (#140)From: Arvid Böttiger To: bottiger/SoundWaves CC: NitroNils ,Mention @NitroNils Hi again.
Could you please send me a debug log (settings -> advanced -> submit debug log) when the new version 0.158.8 hits F-droid tomorrow.

—You are receiving th

[2017-06-19 12:26] bottiger commented on #140
@NitroNils I'm sorry. But F-droid is having some build problems at the moment. Please wait until they have 0.158.8 ready

[2017-06-19 12:36] NitroNils commented on #140
Will do! Sent from my Huawei Mobile-------- Original Message --------Subject: Re: [bottiger/SoundWaves] Importing OPML file fails. (#140)From: Arvid Böttiger To: bottiger/SoundWaves CC: NitroNils ,Mention @NitroNils I'm sorry. But F-droid is having some build problems at the moment. Please wait until they have 0.158.8 ready

—You are receiving this because you were mentioned.Reply to this email di

[2017-06-20 12:54] bottiger commented on #144
@aharris88 It's fixed fixed in the master branch.

[2017-06-20 12:54] #144 closed

[2017-06-21 04:54] psamim commented on #141
I think other apps such as AntennaPod have different lists for "Episodes",
"Subscriptions" and "Queue". I would prefer that for my use case.

On Mon, Jun 19, 2017 at 12:13 PM Arvid Böttiger <notifications@github.com>
wrote:

[2017-06-23 00:39] tomkel opened #145 "Unable to delete subscriptions"
Let me know if you are able to reproduce or need logs.

[2017-06-23 05:58] bottiger commented on #145
@tomkel I cannot reproduce, unfortunatly. Could you please tell what happens when you try?

[2017-06-25 21:42] kevincox opened #146 "Option to hide listened episodes."
It would be really nice to have a toggle to hide listened episodes. I generally like to have them hidden most of the time unless I am specificlly looking for one.

[2017-07-13 13:40] JohanPy opened #151 "Listen audiobooks"
I would like to read my audiobook with SoundWaves : audiobooks are closer to podcasts than music: chapters, resume playback, delete after reading, etc.

I do not know if it's complicated to add a phone folder as a podcast / audiobook source. If you can, I will appreciate this feature.

[2017-07-13 14:58] bottiger commented on #151
@JohanPy I'm with you a 100%. I too would love this feature, and I actually have started making the first initial steps towards supporting audiobooks.

However, the bad news is that I feat this feature is still going to take a long time to get finished, since there is a lot of work to do.

[2017-07-13 17:23] JohanPy commented on #151
Thank you for working on it !
It is a pity that it is complicated. Good luck :)

I will try to find a workaround.

[2017-07-13 19:49] bottiger commented on #151
@JohanPy That said. You are welcome to help by starting to think about how you would integrate audiobooks form a UI perspective - if you have any interest in that kind of work :)

[2017-07-17 09:48] JohanPy commented on #151
I have no idea for a specific interface for audio books, I saw this as a simple addition of a "local" podcast. We would add the path of the folder to be checked instead of the url. The operation would be the same as for the conventional podcast.
But it may not be a good idea, I'm not good at designing interfaces...

[2017-07-17 15:44] NitroNils commented on #140
Guten Tag, Arvid!The bug is now gone. Importing the file works normally.Thank you for awesome responses and development!No need for the log now, aber?Best wishes!Sent from my Huawei Mobile-------- Original Message --------Subject: Re: [bottiger/SoundWaves] Importing OPML file fails. (#140)From: anti.moral@gmail.comTo: bottiger/SoundWaves CC: Will do! Sent from my Huawei Mobile-------- Original Mes

[2017-07-17 19:33] 464247853 opened #152 "App constantly crashing"
Hey,
i want to try your app (downloaded it from fdroid) but it's crashing every minute so I can't use it at all :( I'm using a Samsung Galaxy S7 on the latest stock firmware without root/...
I attached a bug report
https://gist.github.com/b1024ee248fc713d5f995827136480f0
and enabled the option to automatically send crash reports.
Is there anything else I can do to help fix the problem?

[2017-07-19 10:31] bottiger commented on #152
@464247853 Thank you for the report. I should be fixed in the master branch, which will be released soon. However, there might be other bugs like this, so please get back to me if you find another one.

[2017-07-19 10:31] #152 closed

[2017-07-25 04:49] zayuim opened #153 "App deleted contents of 'Podcasts' folder upon first download."
SoundWaves appears to delete any data in the Podcasts directory upon first downloading with SoundWaves. I used to folder to store other podcast's, is it possible to change this behavior?

[2017-07-25 06:10] bottiger commented on #153
@zayuim This is definitely *not* intended behavior. I will investigate the issue ASAP

[2017-07-26 07:25] bottiger commented on #146
@kevincox I have implemented this feature in the current master branch.

[2017-07-26 07:25] #146 closed

[2017-07-26 07:26] bottiger commented on #153
@zayuim Are you reproduce this again? I am not able to reproduce it myself, and I do not know how this could happen

[2017-07-29 01:40] zayuim commented on #153
@bottiger No, for some reason it only happened once. All I can tell you is that it was the first download I did with the app, And the download did pause, and I think it may of failed (connection trouble).

[2017-07-29 13:23] zayuim opened #154 "Import externally downloaded Podcasts into playlist"
Would an option to import episodes downloaded elsewhere be possible? Like maybe it could even check the filename of the imported podcast against the RSS. Or even a dialog to manually select which episode it is.

It's just that I can be downloading podcasts using gPodder on my computer, and would love this option so I don't need to re-download.

[2017-08-30 01:01] zayuim opened #155 "Tag podcasts after download?"
gPodder has a very similar feature where after download it will tag MP3/OGG files with the episode and podcast name using Mutagen. I was wondering if a similar feature could be introduced here?

[2017-09-14 18:30] #140 closed

[2017-09-28 05:51] frankFic opened #156 "ConnectivityManager.getBackgroundDataSetting() is no-longer functioning"
Hi,

I found that in [PodcastService.java](https://github.com/bottiger/SoundWaves/blob/579d7eff44ef7c21ea01976017fef422b7077a4c/app/src/main/java/org/bottiger/podcast/service/PodcastService.java#L69), ConnectivityManager.getBackgroundDataSetting() is still in use. However, this API has been deprecated since API 14 and afterwards it will always return true. So this check actually is not functioning

[2017-10-14 11:39] mike-cr opened #157 "Next episode starts playing from time previous podcast was paused"
As title. If I listen to a particular episode up until, say, 23:42, the next episode I play will begin from that time.

Correct behaviour should start a new episode from the beginning.

[2017-10-14 11:47] mike-cr commented on #157
Forgot to say: this is version 0.158.10 from F-Droid running on a Meizu m2 note running Flyme 6.1.0.0G (android version 5.1)

[2017-10-23 14:20] frankFic commented on #156
Also, it is used in [AbstractAlarmService.java](https://github.com/bottiger/SoundWaves/blob/579d7eff44ef7c21ea01976017fef422b7077a4c/app/src/main/java/org/bottiger/podcast/service/AbstractAlarmService.java#L133). Now the checking is just equivalent to `if (false)`

[2017-10-23 14:26] frankFic opened #158 "Behaviour change of AlarmManager.set()"
For your information, the behaviour of `AlarmManager.set()` has changed since API 19. ([Doc](https://developer.android.com/reference/android/app/AlarmManager.html#set(int,%20long,%20android.app.PendingIntent))) After API 19, the time will be treated as inexact and the alarm will not be delivered before this time, but may be deferred and delivered some time later. This API is used in [PodcastUpdate

[2017-10-23 21:10] bottiger commented on #158
@frankFic Thanks for taking the time to post this. I am aware of this, but fortunately and exact timer isn't needed. Also, for API level 21 and above the alarmmanager isn't used.

[2017-10-23 21:10] #158 closed

[2017-10-23 21:11] bottiger commented on #156
@frankFic Sorry for not responding before now. I will take a look at if this is actually important, or just legacy code. Thanks

[2017-11-07 12:18] bottiger commented on #157
@mike-cr This has been in the app previously. I have now found the reason it was disabled and fixed the issue - reenabling the feature. It will be in the next release.

[2017-11-07 12:18] #157 closed

[2017-11-07 12:20] bottiger commented on #155
@zayuim Definitly. But I will have to wait a month or two more. Sorry for the waiting time.

[2017-11-29 04:04] digiwizkid opened #159 "App crashing on About menu"
App is crashing when trying to open About menu.

Steps to recreate the issue- `Settings -> About`

App version- `0.158.12.393-google-release`

Device details- `Lenovo S660
Android 4.4.2 Kitkat`

[2018-01-08 17:45] ildar opened #160 "[FR] Import m3u playlist as a subscription"
As a bonus m3u may have comments suitable for every track (podcast) description.

[2018-01-09 01:11] ildar opened #161 "[FR] add CI integration"
Something not so difficult but allows automatic checks + builds apk for any commit.

[2018-01-09 03:38] ildar opened #162 "mass crashes"
[SoundWaves.crash.logs.txt](https://github.com/bottiger/SoundWaves/files/1613790/SoundWaves.crash.logs.txt)

[2018-01-16 17:55] Seveng opened #163 "Ability to change playback order in queue"
Not sure it's possible with the way the current queue works, sliding up on the Player section, but I have a tendency to batch a bunch of shows together, since my morning dailies are pretty short. In Antennapod I have new downloads come down at the front of the queue, and then would shuffle backlog around based on mood/drive/flight/etc.

[2018-01-20 14:21] Likivik opened #164 "Scrolling issues"
1. Thank you for alp your work!
2. In Player tab on my device cannot scroll down
3. In subscriptions tab, scrolling is quite laggy.

Let me know if I can help somehow.

Android 7.1.2
LinageOS (latest) Redmi 3

[2018-01-23 08:50] bottiger commented on #164
@Likivik Thank you for getting in touch. I will see if I can reproduce your issues, and get back to you asap

[2018-01-25 04:43] RigacciOrg opened #165 "Crash on reverse sort"
How to reproduce the crash:
Discover tab, enter one podcast URL, turn the switch "ON" to subscribe.
Subscription tab, tap on the subscribed podcast, dots menu, reverse order.

You can recover from this crash by clearing app data.

SoundWave 0.158.10 from F-Droid
Android 5.1.1 (CyanogenMod 12.1 Unofficial) on Samsung Galaxy S4 GT-I9515

[2018-01-26 22:57] bottiger commented on #165
@RigacciOrg Thanks you for reporting this. However, I can not reproduce it in the most recent build. I will try to push it to F-Droid ASAP.

Please reopen this issue if the problem persist after the app is updated. It might take a few days for the update to be available on F-droid.

[2018-01-26 22:57] #165 closed

[2018-02-02 12:03] Bubu opened #166 "f-droid build for VC 409"
Fdroid tonight automaticlaly detected a new version `409` but I guess something went wrong as there is no `409` tag.

There is a 412 tag that contians the 409 version though.

Also there is a note that odd versions are dev versions? So should 412 which is 409 be added now?

[2018-02-09 09:41] AeliusSaionji opened #167 "Bulk mark played/unplayed"
Trying to set up soundwaves for the first time, I have a dozen subscriptions with hundreds of episodes each. It would be more convenient if I could select multiple episodes to mark as played.

Thanks!

[2018-02-09 09:49] AeliusSaionji opened #168 "SGU podcast crashes soundwaves"
0.160.416 google release (hoping to switch to f-droid soon :)
Android 8.1
When I open the episode list, soundwaves just crashes. Here's the feed. I may have already sent a bug report through android feedback. https://feed.theskepticsguide.org/feed/sgu

[2018-02-09 09:55] AeliusSaionji opened #169 "Dark theme player tab unreadable"
Playlist filters menu: several items have black text on black background

the main player tab itself has a number of UI elements not visible in dark mode. The two I can tell are missing: the text "1.0x", the trashcan delete icon, and the ... icon to expand that menu

Android 8.1
0.160.416 google release

[2018-02-11 08:22] bottiger commented on #169
Thanks for the notice. I see your point and will get it fixed in the next release. Which should be out in a day or two.

[2018-02-17 15:29] bottiger commented on #169
I have fixed the issues, and a few more, in the master branch. Please let me know if you find more problems.

[2018-02-17 15:29] #169 closed

[2018-02-17 15:29] bottiger commented on #168
Thank for you finding this issue. I have fixed it in the master branch

[2018-02-17 15:29] #168 closed

[2018-02-18 15:06] AeliusSaionji commented on #136
In the latest beta I have installed, there is a setting to change the location of downloaded podcasts.

It's found under `Settings > About` and I wonder if it shouldn't be moved somewhere more appropriate ;)

But it doesn't seem to work. Not under Oreo at least; it opens the standard file picker, but nothing I do within it has any effect. It can't select files and I don't see a mechanism for selec

[2018-02-18 15:17] AeliusSaionji opened #170 "Import opml from settings"
I can import an opml from the main interface, both where subscriptions are empty, and from the ... menu.

The import option within the settings page gives me a file picker, but silently does nothing with it. Seems like this one isn't properly hooked up in the code.

[2018-02-18 15:19] AeliusSaionji commented on #170
I'm on Oreo 8.1 if that matters, 160.2.422-google-release

[2018-02-18 15:24] AeliusSaionji opened #171 ""Sort by" has no effect"
I'm on android 8.1 Oreo, and the "sort by" option for the subscriptions page has no effect on the current sorting.

0.160.2.422-google-release

[2018-02-19 22:56] #171 closed

[2018-02-19 22:57] bottiger commented on #171
Thank you for reporting. I have fixed the issue

[2018-02-20 05:50] icubyx opened #172 "Fast forward skips the same time as Rewind"
Suppose I set FF to 1 min and Rewind to 30 sec. On clicking FF and Rewind, both skip by 30 sec and not 1 minute and 30 sec each. If I set Rewind to 10 sec, it skips by 10 sec and so on.
Hardware: Lenovo Z2 Plus,
OS: Custom Android Oreo 8.1
App version: 0.160.2.422-google-release

[2018-02-20 21:00] bottiger commented on #172
Thank you for reporting this.

I has been fixed in the master branch

[2018-02-20 21:09] bottiger commented on #170
I am actually aware of this. Think you for reminding me.

[2018-02-20 22:12] #170 closed

[2018-02-20 22:12] #172 closed

[2018-02-22 22:28] bottiger commented on #166
Hi. I don't know what was going on with F-droid.

However, it should be updated to the most recent version now.

[2018-02-22 22:28] #166 closed

[2018-02-23 14:39] bottiger commented on #163
Could you please elaborate a bit? How would you like to change the order?

[2018-02-23 14:40] bottiger commented on #164
@Likivik I have not been able to reproduce the problem. Is the problem still there, and do you have the posibility to maybe make a video of it or something along those lines so I can see it?

[2018-02-23 14:47] bottiger commented on #162
Sorry for the late reply.

How did you provoke these issues?

[2018-02-23 14:48] bottiger commented on #159
This should be fixed

[2018-02-23 14:48] #159 closed

[2018-02-25 00:52] Likivik commented on #164
Here is a screen recording. It's not very fancy, but I hope you can see the issue.

Zipped video: [20180225_032702_edited.mp4.zip](https://github.com/bottiger/SoundWaves/files/1755494/20180225_032702_edited.mp4.zip)

Or a youtube link: https://youtu.be/jV4X1KbEEGQ

[2018-03-06 21:50] no-identd opened #173 "Enable Github Dependency Graph?"
Just a suggestion. :)

[2018-03-06 22:22] bottiger commented on #173
Sure. But I have never heard of it, so please tell me how.

[2018-03-21 17:06] jay2013 opened #174 "Incompatible SDK API use which may cause crash to your APP"
Hi SoundWaves Developers,
I develop a tool to detect incompatible SDK API use in android application. Today I use my tool to check SoundWaves downloaded from F-Droid. My tool report many bugs. Although I believe most of them are real bugs, I cannot be 100% sure because I am not very familiar with Android developing. So
please help to check it, it must be very helpful to your APP.

The attachment b

[2018-03-21 17:57] stkb commented on #167
In the same situation. In some podcast apps you can open a context menu on an episode and select choose "mark all played up to here".
Though without changing too much in SoundWaves, a "Mark all as played" item could be added to the "..." menu item in the top right. Then you could just mark the last few you haven't listened to as unplayed (although I didn't find an intuitive way to mark episodes as

[2018-03-21 18:05] stkb commented on #136
@AeliusSaionji It doesn't work for me either; as you say you can't actually pick a folder.

Also the "Store podcasts on SD Card" option isn't having any effect either. The podcasts stay in
`/storage/emulated/0/Android/data/org.bottiger.podcast/files/Podcasts`. Without being able to store podcasts on the SD card it's a non-starter for me unfortunately

[2018-06-19 22:08] RX4NT9UP opened #175 "Crash when downloading a particular podcast"
Hi,

Thanks for developing this app, it's great. I use it daily despite a few rough edges (which I will start reporting if it helps). I am using the f-droid version. I only have one device at the moment so I haven't been able to test if  this is isolated to my device. I did however wipe the app cache uninstall and reinstall and had the same issue.

When I press the download icon for episodes of th

[2018-07-11 08:03] ildar commented on #162
Sorry for delay: I simply missed the notification letter.
I'm not sure how it happened and the phone is dead by now :(
But I guess some "IndexOutOfBoundsException" may still be helpful.
Otherwise please close.

[2018-07-17 20:57] trin94 opened #176 "Bulk download not working for *All episodes in the list*"
Hey,

Bulk download seems not working for the option
*All episodes in the list*.

The app keeps downloading the 15th first episodes.
Even after trying in multiple times,it keeps downloading the last recent 15th (maybe less/more) files.

A workaround would be selecting *Top 1000 episodes* in the *Download all episodes matching* dialog.

#### Device
* Oneplus 3
* Version: 0.160.2.2424.free.release |

[2018-07-17 21:05] trin94 opened #177 "Player layout broken while scrolling down"
Hey,

the player layout seems to be broken when scrolling down the playing queue.

Please see attached screenshot (Play-Icon).

#### Device
* Oneplus 3
* Version: 0.160.2.2424.free.release | Downloaded from F-Droid

Regards
trin94

![photo_2018-07-17_23-03-47](https://user-images.githubusercontent.com/12988790/42845270-b53e3d2c-8a15-11e8-9f29-1a831eea89d3.jpg)

[2018-07-17 21:10] trin94 opened #178 "Settings Icons broken in Dark Theme"
Hey,

when changing to the dark theme, the icons in the settings list will be changed accordingly.
But only directly after one has selected the dark theme (then the icons are colored correctly: bright).

After moving out of the settings and reentering, the icons are colored dark (like in the default light theme).

Please see attached screenshot.

#### Device
* Oneplus 3
* Version: 0.160.2.2424.fre

[2018-07-17 21:16] trin94 opened #179 "[Feature Request] Add faster scroller to the episode list"
Hey,

it would be nice if you can add a faster scroller to the episode lists.
I mean a faster scroller like in the Android contacts app (though a letter in the bubble is not needed here I assume).

When a podcast has a large amount of episodes (200+), scrolling to episode 1 could be a pain.

Regards,
trin94

[2018-07-17 21:23] trin94 opened #180 "Downloading large amounts of episodes leads to performance issues"
Hey,

when bulk downloading large amounts of episodes,
the app gets pretty laggy.

#### Device
* Oneplus 3
* Version: 0.160.2.2424.free.release | Downloaded from F-Droid

Regards
trin94

[2018-07-26 13:42] amc90 commented on #163
While being able to drag things to reorder would be nice, I think  "move to top" would be enough for me.

A nicer system might be to give each queue item a priority number, 1-10. The queue is sorted first by priority, and then by date. Under each podcast there is a setting (which defaults to 5), labelled "Default Episode Priority". Long pressing a queue item will let you choose a new priority.

Be

[2018-07-31 14:54] Niquarl opened #181 "Is there a way to hide listened episodes as default ?"
I konw it is possible to do this as a per podcast basis but I find it too time consuming. Can't find a global setting for this. I would be super to add this of it does not exist. Cheers.

[2018-08-10 16:06] carlyman commented on #104
+1 -- Android Auto would be a great feature.  Note there are other free and open-source apps that have been able to integrate into Android Auto (for example, Voice audiobook player: https://github.com/PaulWoitaschek/Voice).

[2018-08-10 17:24] woyczek opened #182 "Infinite storage value is considered as a 0"
All podcasts are removed if you set "infinite" as storage limit.

Disturbing.

[2018-08-14 15:08] Mystro256 commented on #175
I get this too, is it a podcast with ads? I always get a crash if I try to download a podcast that has advertisements. Streaming works fine for me though.

[2018-08-30 10:53] Roboe commented on #175
Happening here with Nación Lumpen @ Spreaker (https://www.spreaker.com/show/1464503/episodes/feed). No ads. Streaming works fine.

I will provide a logcat whenever possible.

[2018-09-28 02:41] SatanicMechanic opened #183 "Add share button"
Send a short URL to the episode on demand.

[2018-10-17 07:15] greenrd opened #184 "Added podcast episodes and subscriptions disappear"
I have seen this happen twice. The most recent time, all my subscriptions except one went missing, and the episodes I had selected to play from the other subscriptions also went missing. Also, not all of the episodes that I had selected to play from the remaining subscription were still there.

[2018-11-03 09:57] stemy2 opened #185 "Can't download for offline listening"
Hello,

I'd like to listen to my podcasts when offline, but after downloading, the audio files are unexplicably erased from my local folder, so i still forced to stay online to listen to my podcasts.

[2018-11-16 15:48] fisxoj opened #186 "Share file url feature"
Hello!  Thanks for SoundWaves!

The one thing that keeps me using another podcatcher is the ability to share the episode url, which lets me play it on my media computer.  I'd appreciate if you could add that to SoundWaves.

[2018-12-01 22:18] baarkerlounger opened #187 "Enable per subscription dowload limits"
Currently there's an option to set a global download limit in gb. It would be great if you could also set for each individual subscription you could set it to download, for example the most recent 5 (or any other number) of unplayed episodes. Then, if you haven't listened to those 5 when the next comes out it would automatically remove the oldest of those to make way for the new episode.

[2019-03-25 07:08] deyan-kostov commented on #167
"I didn't find an intuitive way to mark episodes as unplayed in SoundWaves, only a hacky way."

What is the hacky way, stkb?

[2019-03-25 13:58] stkb commented on #167
@deyan-kostov you have to swipe the episodes again, which causes an "undo" prompt to come up at the bottom. Tapping that will mark them as unplayed again.

[2019-06-03 17:52] lupa18 opened #189 "Security: leaks user data"
The Android mobile Podcast application SoundWaves uses insecure connections, leaking information about the device and what the user is listening to.

Here an example, sniffing the network, it's very clear what the user is listening:

![soundwaves](https://user-images.githubusercontent.com/463429/58822951-018a8f00-860f-11e9-8bee-fe8d4a9531d2.png)

[2019-06-26 19:20] mxmilkiib opened #190 "Cache podcast image for when offline?"
Everytime I open SoundWaves when I'm offline, there are no podcast images.

[2019-09-20 09:56] pedrocr commented on #171
I'm seeing this on the version available on f-droid. Has the fix not shipped?

[2019-10-22 07:41] junior291492659 opened #191 "Bug: the play/pause button behaves wrong when other entries get played"
Hi,

- I have searched the history issue list, and have not found a similar bug.

- The bug was found on the latest version 0.160.2 on Google Play, and were reproduciable on a Redmi Note 4X and an Android emulator 6.0 device.

- Bug: launch the freshly installed app, there is nothing to play in the "PLAYER" page since I have not play one, select the "DISCOVER" page, just click an entry's toggle bu

[2019-10-22 08:07] junior291492659 opened #192 "Bug: the toggle button is not updated when this entry is not subscribed anymore"
Hello,

- I have searched the history issue list, and have not found a similar bug.

- The bug was found on the latest version 0.160.2 on Google Play, and were reproduciable on a Redmi Note 4X and an Android emulator 6.0 device.

- Bug: in the "DISCOVER" page, none of the entries is subscribed, click an entry(e.g. "Crime Junkie" as shown in the video) leading to its content page, there is a floati

[2019-11-06 18:44] axelsimon opened #193 "Automatically populating playlist with new episodes removes manually added episodes"
The title sort of says it all.
And i'd be tempted to add: “and it's pretty annoying!” :wink:

How to reproduce:
- Browse your subsrciptions and manually add episodes to the list, by (carefully) touching the "+" sign
- See episodes added to the playlist, with a little red corner mark showing that it was added manually
- Wait until new episodes appear in your subscriptions and they are added automat

[2019-11-06 19:05] axelsimon opened #194 "Layout / GUI improvement suggestions"
Hi,
Here are a few thoughts about the layout. Right now, some things are contradictory and a bit hard on newcomers.

First of all, the left pullout menu and the top right overflow menu (three dots) are sometimes contradiction with each other. They both lead to the settings but otherwise options differ.

The left pull-out menu is also not obvious and underused.
It should either be removed (if optin

[2019-11-08 10:00] junior291492659 commented on #191
Hi, any update on this issue and #192

[2019-11-13 17:37] ghost opened #195 "Lock screen controls for 'rewind' and 'advance'"
The lockscreen controls for a playing podcast include three items that do the following:

1. Move to the previous episode (◀)
2. Pause the current episode (⏸️)
3. Move to the next episode (▶)

I'd prefer for these three items to do this:

1. Rewind current episode 10 seconds (◀)
2. Pause the current episode (⏸️)
3. Advance the current episode 30 seconds (▶)

This would make it much easier to advan

[2020-03-12 09:45] maltfield opened #196 "Feature Request: Episode Retention Setting (Auto-Delete)"
I have a request for (what I imagine is a popularly desired) functionality that doesn't appear to be implemented in any actively maintained FOSS android podcast software:

**I'd like to have new episodes of the podcast automatically downloaded. And I'd like those episodes to be automatically deleted X days after they're published.**

Alternatively, replace "And I'd like those episodes to be automa

[2020-08-02 11:11] xeruf opened #197 "Add screenshots to README"
Since my storage is limited, I would like to see what I am getting into before downloading anything. Unless you plan to do that on a separate website, a feature list with Screenshots in the README would be appreciated.

[2021-09-10 08:53] #187 closed, assigned to nobody

[2022-11-28 11:54] kudlav opened #198 "README: Google Play dead links"
In README:
Links to Google Play doesn't work.
Join the beta version link doesn't work as well.